{% load configuration_tags %}
{% query_transform request as urls %}
<div class="d-flex justify-content-between mx-0 row">
    <div class="col-sm-12 col-md-6">
        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing Page {{object_list.number}}  of {{ object_list.paginator.num_pages }}</div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
            <ul class="pagination">
                {% if object_list.has_previous %}
                <li class="paginate_button page-item previous " id="DataTables_Table_0_previous">
                    <a href="{% if urls %}?{{urls}}&{% else %}?{% endif %}page={{ object_list.previous_page_number}}"  data-dt-idx="0" tabindex="0" class="page-link">&nbsp;</a>
                </li>
                {% endif %}

                <li class="paginate_button page-item active">
                    <a href="" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">{{object_list.number}}</a>
                </li>

                {% if object_list.has_next %}
                    <li class="paginate_button page-item next" id="DataTables_Table_0_next">
                        <a href="{% if urls %}?{{urls}}&{% else %}?{% endif %}page={{ object_list.next_page_number }}" data-dt-idx="2" tabindex="0" class="page-link">&nbsp;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
