{% extends 'base.html' %}
{% load configuration_tags%}
{% load report_tags%}
{% load static %}
{% block contents %}
<div class="row align-items-center">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-dark"><b>Status : </b>{{monthly_data.get_current_status_display|default:"-"}}</p>
                        <p class="text-dark"><b>Partner : </b>{{monthly_data.partner.name}} </p>
                        <p class="text-dark"><b>Start Date : </b>{{monthly_data.start_date|date:"d-m-Y"}}</p>
                        <p class="text-dark"><b>Start Date : </b>{{monthly_data.end_date|date:"d-m-Y"}}</p>
                    </div>
                    <div class="table-responsive width_section">
                      <p class="card-title text-center text-uppercase p-1 mb-1 text-white" style="background-color:#13437e;">Dashboard Data</p>
                      <h5 class="card-title groove bg-warning">  </h5>
                      <table id="datatables" class="table table-striped" cellspacing="0" width="100%" style="width:100%">
                          <thead class="table-light" >
                              <th>Name</th>
                              <th>Count</th>
                          </thead>
                          <tbody style="vertical-align: middle;">
                              {% for label,value in dashboard_data.items %}
                              <tr>
                                  <td>{{label}}</td>
                                  <td>{{value|default:"0"}}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                    </div>
                    {% if remarks %}
                        <h3 class=" mt-4 ">History</h3>
                        {% for i in remarks %}
                            <div id="change-29469" class="journal has-details">
                            <div id="note-1">
                                <h6 class="border-bottom">
                                <img alt="" title="" class="gravatar" srcset="//www.gravatar.com/avatar/033cb83da4134302ba171c2180d64048?rating=PG&amp;size=48&amp;default=mm 2x" src="//www.gravatar.com/avatar/033cb83da4134302ba171c2180d64048?rating=PG&amp;size=24&amp;default=mm">
                                Updated by {{i.user.username}} on {{i.created|date:"d/m/Y g:i A" }}
                                </h6>
                                <ul class="details">
                                {% comment %} <li>Status changed from <strong>{{i.source_state}}</strong> to <strong>{{i.destination_state}}</strong></li> {% endcomment %}
                                {% if i.remark %}
                                    <li>{{i.remark|safe}}</li>
                                {% endif %}
                                </ul>
                            </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if role_with_permisson_map|get_item:monthly_data.current_status in user_group %}
                  <div class="row justify-content-end">
                    <div class="col-auto">
                      <button class="btn btn-secondary btn-md"  onclick="location.href = '/dashboard/weekly-dashboard/list/'" >Back</button> 
                      <button type="submit" onclick="Confirm('approve')" class="btn btn-success btn-md">Approve </button> 
                      <button type="submit" onclick="Confirm('reject')" class="btn btn-danger btn-md">Reject </button> 
                    </div>
                  </div>
                {% elif 1 in user_group and request.session.show_submission_popup %} <!-- 1 is for data entry op -->
                    <div class="row justify-content-end">
                        <div class="col-auto">
                        <button type="submit" onclick="Confirm('approve',true)" class="btn btn-success btn-md">Submitted for Approval </button> 
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% comment %} <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> {% endcomment %}
<style>
    #right_side{
        margin-left: 50%
    }
</style>

<script>
    window.scroll({
    top: 200, 
    left: 0, 
    behavior: 'smooth'
    });
</script>

<script>
  function Confirm(label,sub_for_aproval = false) {
    var input = ''
    var title = 'Are you sure ' +label +' ?'
    if (!sub_for_aproval) {
        input = 'textarea'
        title = title  + ' Please enter the remark.'
    }
    Swal.fire({
        title: title,
        input: input,
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, update it!',
        inputValidator: (value) => {
            if (!value) {
                return 'You need to enter a remark!';
            }
        }
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire({
                title: 'Sending Mail...',
                allowEscapeKey: false,
                allowOutsideClick: false,
                showConfirmButton: false,
                onBeforeOpen: () => {
                    Swal.showLoading();
                    $.ajax({
                        url: '/dashboard/weekly-dashboard/{{id}}/',
                        type: 'POST',
                        data: {
                            "user_id": {{request.user.id}},
                            'label': label,
                            'remark': result.value
                        },
                        success: function(response) {
                            Swal.fire({
                                title: response.message,  // Assuming your server returns a JSON object with a 'message' field
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 1500
                            }).then(() => {
                                window.location.href = '/dashboard/weekly-dashboard/list/';
                            });
                        },
                        error: function(xhr, status, error) {
                            Swal.fire({
                                title: 'Error!',
                                text: 'There was an error processing your request. Please try again.',
                                icon: 'error',
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            });
                        }
                    });
                }    
            });
        }
    });
}

</script>
{% endblock %}