{% load configuration_tags %}
{% query_transform request as urls %}
<div class="col-md-12">
<div class="page pagination" style="float:right;">

                            <span class="step-links">
                                <ul class="pagination justify-content-end" >
                                    
                                    {% if object_list.has_previous %}
                                    <li class="paginate_button page-item first" id="datatables_first">
                                        <a class="page-link" href="{% if urls %}?{{urls}}&{% else %}?{% endif %}page=1" aria-controls="datatables" data-dt-idx="0" tabindex="0">First</a>
                                    </li>
                                    <li class="paginate_button page-item first " id="datatables_first">
                                        <a class="page-link" href="{% if urls %}?{{urls}}&{% else %}?{% endif %}page={{ object_list.previous_page_number }}" aria-controls="datatables" data-dt-idx="0" tabindex="0">Previous</a>
                                    </li>
                                    {% endif %}
                                    <li class="paginate_button page-item active">
                                        <span class="paginate_button page-item page-link current">
                                        {{ object_list.number }}
                                        </span>
                                    </li>
                                    {% if object_list.has_next %}
                                    <li class="paginate_button page-item first " id="datatables_first">
                                        <a class="page-link" href="{% if urls %}?{{urls}}&{% else %}?{% endif %}page={{ object_list.next_page_number }}" aria-controls="datatables" data-dt-idx="0" tabindex="0">Next</a>
                                    </li>
                                    <li class="paginate_button page-item first " id="datatables_first">
                                        <a class="page-link" href="{% if urls %}?{{urls}}&{% else %}?{% endif %}page={{ object_list.paginator.num_pages }}" aria-controls="datatables" data-dt-idx="0" tabindex="0">Last</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </span>
                        </div>
                        </div>
