{% extends 'base.html' %}
{% load static %}

{% block contents %}

<div class="row align-items-center">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">

                <form method='POST' class="needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name='first_name' id="floatingnameInput" {% if first_name %}value={{first_name}}{% endif %} placeholder="Enter First Name" required=""  pattern="^[a-zA-Z0-9' ]+$" title="' is allowed">
                                <label for="floatingnameInput">First Name <span class="required-field"></span></label>
                                <div class="invalid-feedback">
                                    Please enter the name of the child.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name='middle_name'id="floatingnameInput" {% if middle_name %}value={{middle_name}}{% endif %} placeholder="Enter Middle Name"  pattern="^[a-zA-Z0-9' ]+$" title="' is allowed">
                                <label for="floatingnameInput">Middle Name</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name='last_name' id="floatingnameInput" {% if last_name %}value={{last_name}}{% endif %} placeholder="Enter Last Name"  pattern="^[a-zA-Z0-9' ]+$" title="' is allowed">
                                <label for="floatingnameInput">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-control" name='gender' id="floatingSelectGrid"
                                    aria-label="Floating label select example" required="">
                                    <option selected disabled value="">Select</option>
                                    <option value="1" {% if gender == '1' %}selected{% endif %}>Male</option>
                                    <option value="2" {% if gender == '2'  %}selected{% endif %}>Female</option>
                                    <option value="3" {% if gender == '3'  %}selected{% endif %}>Transgender</option>
                                    <option value="4" {% if gender == '4'  %}selected{% endif %}>Inter-sex</option>
                                    <option value="5" {% if gender == '5'  %}selected{% endif %}>Other</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please enter the gender of the child.
                                </div>
                                <label for="floatingSelectGrid">Gender <span class="required-field"></span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" name='date_of_birth' id="date_of_birth" {% if date_of_birth %}value={{date_of_birth}}{% endif %} placeholder="Enter Date of Birth" onchange='date_of_birth_validations(this.value)' required="">
                                <label for="floatingnameInput">Date Of Birth <span class="required-field"></span></label>
                                <div class="invalid-feedback">
                                    Date of Birth should be lesser than today.
                                </div>
                            </div>
                        </div>
                       
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control {% if case_error %}border border-danger{% endif%}" name='case_number' {% if case_number %}value={{case_number}}{% endif %} id="floatingtextInput"
                                    placeholder="Enter Case number" required="" pattern="^[/\\a-zA-Z0-9._-\s]+$">
                                <label for="floatingemailInput">Case Number <span class="required-field"></span></label>
                                <div class="invalid-feedback">
                                    Please enter the Case Number given to the child.
                                </div>
                                {% if case_error %}
                                <div class="text-danger">
                                    {{case_error}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <input type="text" name="adhar_number" class="form-control {% if adhar_error %}border border-danger{% endif%}" data-parsley-type="number" {% if adhar_number %}value={{adhar_number}}{% endif %} id="floatingnameInput" placeholder="Enter Adhar number" pattern='^[0-9]{4}[ -]?[0-9]{4}[ -]?[0-9]{4}$' >
                                <label for="floatingnameInput">Aadhar Number</label>
                                <div class="invalid-feedback">
                                    Aadhar number should be 12 digits only
                                </div>
                                {% if adhar_error %}
                                <div class="text-danger">
                                    {{adhar_error}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        
                        <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control"  name='reason_admission' {% if admission_number %}value={{admission_number}}{% endif %} id="floatingtextInput"
                                    placeholder="Enter Admission number" >
                                <label for="floatingemailInput">Reason for Admission </label>
                                <div class="invalid-feedback">
                                    Please provide a valid reason for admission.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-lg-6 "> 
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"  name='child_remark' id="floatingnameInput" placeholder="Enter Case History">
                                <label for="floatingnameInput" class='rem'>Case History</label>
                                <div class="invalid-feedback">
                                    Please provide a valid Case History.
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input type="text" class="form-control"  name='admission_number' {% if admission_number %}value={{admission_number}}{% endif %} id="floatingtextInput"
                                    placeholder="Enter Admission number" >
                                <label for="floatingemailInput">Admission Number </label>
                                <div class="invalid-feedback">
                                    Please provide a valid admission number.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" name='date_of_admission' id="date_of_admission" {% if date_of_admission %}value={{date_of_admission}}{% endif %} placeholder="Enter Date of Admission" required="">
                                <label for="floatingnameInput">Date of Admission <span class="required-field"></span></label>
                                <div class="invalid-feedback">
                                    Date of Admission should be greater than Date of Birth.
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <legend class='font-size-20 fw-bold'>CWC Order/Review</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" name='last_date_of_cwc_order_or_review' id="last_date_of_cwc_order_or_review" {% if last_date_of_cwc_order_or_review %}value={{last_date_of_cwc_order_or_review}}{% endif %} placeholder="Enter Last Date of CWC Order or Review" required="">
                                <label for="floatingnameInput" class='d-block d-sm-none font-size-13'>Last Date of CWC Order or Review <span class="required-field"></span></label>
                                <label for="floatingnameInput" class='d-none d-sm-block'>Last Date of CWC Order or Review <span class="required-field"></span></label>
                                <div class="invalid-feedback">
                                    Last CWC Order Date should be greater than or equal to Date of Admission.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-control" name='cwc_remark_type' id='cwc_remark_type'
                                    aria-label="Floating label select example" required="" onchange='onSelectChange_cwc_type()'>
                                    <option selected disabled value="">Select</option>
                                    <option value='1' {% if cwc_remark_type == '1' %}selected{% endif %}>Newspaper Publication</option>
                                    <option value='2' {% if cwc_remark_type == '2' %}selected{% endif %}>Police Report</option>
                                    <option value='3' {% if cwc_remark_type == '3' %}selected{% endif %}>Social Investigation Report (SIR)</option>
                                    <option value='4' {% if cwc_remark_type == '4' %}selected{% endif %}>Transfer Order</option>
                                    <option value='5' {% if cwc_remark_type == '5' %}selected{% endif %}>Orphan Certificate</option>
                                    <option value='6' {% if cwc_remark_type == '6' %}selected{% endif %}>Death Certificate</option>
                                    <option value='7' {% if cwc_remark_type == '7' %}selected{% endif %}>Other</option>
                                    </select>
                                <div class="invalid-feedback">
                                    Please select a valid CWC Order Given.
                                </div>
                                <label for="floatingSelectGrid">CWC Order Given<span class="required-field"></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 " > 
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"  name='cwc_remark' id='cwc_remark' placeholder="Enter CWC Remark">
                                <label for="floatingnameInput" id='cwc_remark_label'>CWC Remark</label>
                                <div class="invalid-feedback">
                                    Please provide a valid CWC remark.
                                </div>
                            </div>
                        </div>
                    </div>
                 

                    <div class="row">
                        <div class="col-lg-6">
                            {% comment %} <div class="form-floating mb-3">
                                <select class="form-control" name='siblings' id="siblings" onchange='onSelectChange_siblings()'
                                    aria-label="Floating label select example" required="">
                                    <option selected disabled value="">Select</option>
                                    <option value="1" {% if siblings == '1' %}selected{% endif %}>Yes</option>
                                    <option value="2" {% if siblings == '2'  %}selected{% endif %}>No</option>
                                    </select>
                                <div class="invalid-feedback">
                                    Please select a valid siblings.
                                </div>
                                <label for="floatingSelectGrid">Sibling(s) in the system<span class="required-field"></span></label>
                            </div> {% endcomment %}
                            <div class="mb-12">
                                <div class="form-check mb-3">
                                    <input class="form-check-input"  type="checkbox" name='siblings' onchange='onSelectChange_siblings(this)' {% if siblings == 1 %}checked{% endif %} id="siblings" >
                                    <label class="form-check-label" for="siblings">
                                        Sibling(s)
                                    </label> 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 " id='siblings_details'> 
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"  name='siblings_details' id="siblings_details_field" placeholder="Enter Siblings Details">
                                <label for="floatingnameInput" id="siblings_label">Sibling(s) Details<span class="required-field"></span></label>
                                <div class="invalid-feedback">
                                    Sibling details must be entered.
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                  

                    <div class="row" >
                        <div class="col-lg-6">
                            {% comment %} <div class="form-floating mb-3">
                                <select class="form-control" name='link_to_saa' id="link_to_saa" 
                                    aria-label="Floating label select example" required="">
                                    <option selected disabled value="">Select</option>
                                    <option value="1" {% if link_to_saa == '1' %}selected{% endif %}>Yes</option>
                                    <option value="2" {% if link_to_saa == '2'  %}selected{% endif %}>No</option>
                                    </select>
                                <div class="invalid-feedback">
                                    Please select a valid SAA choice.
                                </div>
                                <label for="floatingSelectGrid">Linked to SAA<span class="required-field"></span></label>
                            </div> {% endcomment %}
                            <div class="mb-12">
                                <div class="form-check mb-3">
                                    <input class="form-check-input"  type="checkbox"  name='link_to_saa'  {% if manually_unflaged == True %}checked{% endif %} id="link_to_saa" >
                                    <label class="form-check-label" for="link_to_saa">
                                        Linked to SAA
                                    </label> 
                                </div>
                            </div>
                        </div>
                    </div>

                        

                    {% comment %} <div class="row" >
                        <div class="col-lg-6">
                            <div class="form-floating mb-3">
                                <select class="form-control" name='current_status' id="current_status"
                                    aria-label="Floating label select example" required="">
                                    <option selected disabled value="">Select</option>
                                    <option value="2" {% if current_status == '2' %}selected{% endif %}>Active</option>
                                    <option value="1" {% if current_status == '1'  %}selected{% endif %}>Inactive</option>
                                    </select>
                                <div class="invalid-feedback">
                                    Please select a valid siblings.
                                </div>
                                <label for="floatingSelectGrid">Current Status <span class="required-field"></span></label>
                            </div>
                        </div>
                    </div> {% endcomment %}

                    <div class="mb-12">
                        <div class="form-check mb-3">
                            <input class="form-check-input"  type="checkbox" name='manually_unflaged' {% if manually_unflaged == True %}checked{% endif %} id="manually_unflaged" onchange="manually_unflag_toggle()">
                            <label class="form-check-label" for="manually_unflaged">
                                Manually unflagged
                            </label> 
                        </div>
                    </div>
                    
                    <div class="row" >
                        <div class="col-lg-6 " id="manually_activate2"> 
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"  name='flag_remark' id="manually_unflag_remark" placeholder="Enter Manually Unflag Remark">
                                <label for="floatingnameInput" id="manually_unflag_remark_label">Reason to manually unflag child</label>
                                <div class="invalid-feedback">
                                    Please enter the reason for manually unflagging the child.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" id="manually_activate1">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" name='manually_unflaged_till_date' id="manuallu_unflag_till_date" {% if manually_unflaged_till_date %}value={{manually_unflaged_till_date}}{% endif %} placeholder="Enter Manually unflaged till date">
                                <label id='manuallu_unflag_till_date_label' for="floatingnameInput">Manually unflagged till date</label>
                                <div class="invalid-feedback">
                                    Please enter the date till when the child should not be considered for flagging.
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="row">
                        
                        
                       
                    </div>

                    <input type="hidden" value="{{image_size}}" id='image_size'>
                    <div>
                        <button type="reset" onclick="location.href='/child-list/'" class="btn btn-secondary waves-effect">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                        
                    </div>
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
<style>
    .select2-container .select2-selection {
        min-height: 55px
    }
    
    .select2-container .select2-selection--single .select2-selection__placeholder:after {
        content: " *";
        color: red;
    }
    

</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('select#state').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            data = {'selected_state' : valueSelected };
            $.ajax({
                type:"GET",
                url: '/ajax/district/',
                data:data,
                success:function(result){
                    $("#district option").remove();
                    a = '<option selected disabled value="">Select District</option>';
                    $("#district").append(a);
                    $("#shelter option").remove();
                    b = '<option selected value="">Select Shelter Home</option>';
                    $("#shelter").append(b);
                    if(JSON.parse(result) == 0){
                        $("#district option").remove();
                        a = '<option selected disabled value="">No district is mapped to this state</option>';
                        $("#district").append(a);
                    }
                    else{
                        $.each(JSON.parse(result),function(key, value)
                        {
                            a = '<option value=' + value['id']+'>' + value['name']+'</option>';
                            $("#district").append(a);
                        });
                    }
                }
            });
        });
    });  
    $(document).ready(function(){
        $('select#district').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            data = {'selected_district' : valueSelected };
            $.ajax({
                type:"GET",
                url: '/ajax/shelterhome/',
                data:data,
                success:function(result){
                    $("#shelter option").remove();
                    a = '<option selected disabled value="">Select Shelter Home</option>';
                    $("#shelter").append(a);
                    if(JSON.parse(result) == 0){
                        $("#shelter option").remove();
                        a = '<option selected disabled value="">No shelter home is mapped to this district</option>';
                        $("#shelter").append(a);
                    }
                    else{
                        $.each(JSON.parse(result),function(key, value)
                        {
                            a = '<option value=' + value['id']+'>' + value['name']+'</option>';
                            $("#shelter").append(a);
                        });
                    }
                }
            });
        });
    });
      
</script>

</div>

{% endblock %}