{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="row align-items-center">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <form method='POST' class="needs-validation" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}

                    {% for data in mic_obj %}
                    <div class="table-responsive">
                        <h5> {{data.name}} </h5>
                        <table class="table table-hover a" id="hospital_report">
                            <thead >
                                <tr><th>Indicator</th>
                                    <th>Indicator Type</th> 
                                    <th>Target</th>
                                </tr>
                            </thead>
                                {% for sub_category in data.sub_category %}
                                <tbody>
                                    <td>{{sub_category.name}}</td> 
                                    <td>{{sub_category.get_indicator_type_display}}</td> 
                                    <td>
                                        <input type="number"  name="target_{{sub_category.id}}" value="" class="form-control input_style qty" maxlength="5" required="">
                                        <div class="invalid-feedback">Please enter the Total value</div>
                                    </td>
                                </tbody>   
                                {% endfor %} 
                        </table>
                    </div>
                    {% endfor %}

                    <div class="modal-footer">
                        <button type="reset" onclick="location.href='/mission-list/'" class="btn btn-secondary waves-effect">Cancel</button>
                        <button type="submit" class="btn btn-primary  ml-2">Submit</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
<style>
table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }
    .select2-container .select2-selection {
        min-height: 55px
    }
    .select2-container .select2-selection--single .select2-selection__placeholder:after {
        content: " *";
        color: red;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('select#state').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            data = {'selected_state' : valueSelected };
            $.ajax({
                type:"GET",
                url: '/ajax/district/',
                data:data,
                success:function(result){
                    $("#district option").remove();
                    a = '<option selected disabled value="">Select District</option>';
                    $("#district").append(a);
                    $("#shelter option").remove();
                    b = '<option selected value="">Select Shelter Home</option>';
                    $("#shelter").append(b);
                    if(JSON.parse(result) == 0){
                        $("#district option").remove();
                        a = '<option selected disabled value="">No district is mapped to this state</option>';
                        $("#district").append(a);
                    }
                    else{
                        $.each(JSON.parse(result),function(key, value)
                        {
                            a = '<option value=' + value['id']+'>' + value['name']+'</option>';
                            $("#district").append(a);
                        });
                    }
                }
            });
        });
    });  
    $(document).ready(function(){
        $('select#district').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            data = {'selected_district' : valueSelected };
            $.ajax({
                type:"GET",
                url: '/ajax/shelterhome/',
                data:data,
                success:function(result){
                    $("#shelter option").remove();
                    a = '<option selected disabled value="">Select Shelter Home</option>';
                    $("#shelter").append(a);
                    if(JSON.parse(result) == 0){
                        $("#shelter option").remove();
                        a = '<option selected disabled value="">No shelter home is mapped to this district</option>';
                        $("#shelter").append(a);
                    }
                    else{
                        $.each(JSON.parse(result),function(key, value)
                        {
                            a = '<option value=' + value['id']+'>' + value['name']+'</option>';
                            $("#shelter").append(a);
                        });
                    }
                }
            });
        });
    });
      
</script>
</div>
{% endblock %}