{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
    type="text/css" />
{% endblock %}
{% block contents %}

<div class="row">

    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <form action="/child-list/" method="GET">
                        <div class="col-auto mt-3">
                            <button type="button" class="btn btn-primary waves-effect waves-light" id='add_buton_listing' onclick="location.href='guardian-add/'"> Add Child</button>
                        </div> 
                  
                    </div> 
                </form> 
                
                <div class="row">
                        <table id="datatable-buttons" class="table  table-bordered dt-responsive w-100 ">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Name</th>
                                    <th>Case Name</th>
                                    <th>Date of Birth</th>
                                    <th>Gender</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <td>Yes</td>
                                    <td>Ravi</td>
                                    <td>3A </td>
                                    <td>26-05-1997 </td>
                                    <td>Male </td>
                                    </tr>

                                
                                {% for c in data %}
                                <tr>
                                    <td>
                                        <div class="row">
                                        <div class="col-lg-7">

                                        {% if c.child.documentdataconfig_set.all|length > 0 %}
                                            <button type="button" class="btn btn-outline-light btn-sm" title="Manage Document" onclick="location.href='/child-list/{{c.child.id}}/manage-document/'">
                                                <i class="mdi mdi-file-document-edit mdi-24px"></i> 
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-outline-light btn-sm" title="Manage Document" onclick="location.href='/child-list/{{c.child.id}}/status-document/'">
                                                <i class="mdi mdi-file-document-edit mdi-24px"></i> 
                                            </button>
                                        {% endif %}
                                        <button type="button" class="btn btn-outline-light btn-sm" title="View Document" onclick="location.href='/child-list/{{c.child.id}}/view-document/'">
                                            <i class="mdi mdi-24px mdi-view-list "> </i> 
                                        </button>

                                        <button type="button" class="btn btn-outline-light btn-sm" title='Edit Child' id="" onclick="location.href='/child-edit/{{c.child.id}}'">
                                            <i class="mdi mdi-24px mdi-human-edit"> </i> 
                                        </button>
                                        
                                        </div>          
                                        
                                        <div class="col-lg-6">

                                            <button type="button" class="btn btn-outline-light btn-sm" title='Add Guardian' id="add_guardian_{{c.child.id}}">
                                                <i class="mdi mdi-24px mdi-account-multiple-plus"> </i> 
                                            </button>
                                        <button type="button" class="btn btn-outline-light btn-sm" title="Add Phone call" onclick="location.href='/child-list/{{c.child.id}}/view-document/'">
                                            <i class="mdi mdi-24px mdi-phone-plus"> </i> 
                                        </button>
                                        <button type="button" class="btn btn-outline-light btn-sm" title="Add Family Visit" onclick="location.href='/child-list/{{c.child.id}}/view-document/'">
                                            <i class="mdi mdi-24px mdi-human-female-boy" size='24px'> </i> 
                                        </button>
                                        <a>{{c.first_name|add:' '}}{{c.middle_name|add:' '}}{{c.last_name|add:' '}}</a>

                                        </div>      
                                    </div>   

                                    <script>
                                            $(document).ready(function() {
                                                $('#add_guardian_{{c.id}}').click(function() {
                                                    console.log('in')
                                                    localStorage.setItem("text",'{{c.id}}');
                                                    });
                                            }); 
                                    </script>
                                </td> 
                                    <td><a href='/profile/{{c.id}}'>{{c.first_name|add:' '}}{{c.middle_name|add:' '}}{{c.last_name|add:' '}}</a></td>
                                    <td>{{c.first_name|add:' '}}{{c.middle_name|add:' '}}{{c.last_name|add:' '}}</td>
                                <td>{{c.case_number}}</td>
                                <td>{{c.dob|date:"d/m/Y"}}</td>
                                <td>{{c.get_sex_display}}</td>
                                    
                                    {% comment %} <td>{{c.get_shelter_home_name|default_if_none:'-'}}</td> {% endcomment %}
                                <td nowrap>{{c.child_classification.all.first}}</td>
                                    {% comment %} <td>{% if c.child.manually_unflaged%}Yes {% else %}No{% endif %}</td> {% endcomment %}
                                
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <nav aria-label="...">
                            {% if data.has_other_pages %}
                            <ul class="pagination justify-content-end ">
                                {% if data.has_previous %}
                                <li class="paginate_button page-item"><a class="page-link" href="?page={{ 1 }}&field={{sorting_field}}&order={{sorting_order}}&state={{state}}&district={{district}}&shelter={{shelter}}{%if q_case_number %}&q_case_number={{q_case_number}}{%endif%}{%if q_name %}&q_name={{q_name}}{%endif%}">First</a></li>
                                {% comment %} <li class="paginate_button page-item"><a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a></li> {% endcomment %}
                                {% else %}
                                <li class="paginate_button page-item disabled"><span class="page-link">First</span></li>
                                    {% comment %} <li class="paginate_button page-item disabled"><span class="page-link">Previous</span></li> {% endcomment %}
                                {% endif %}
                                {% for i in display_page_range %}
                                    {% if data.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                    <li class="paginate_button paginate_button page-item"><a class="page-link" href="?page={{ i }}&field={{sorting_field}}&order={{sorting_order}}&state={{state}}&district={{district}}&shelter={{shelter}}{%if q_case_number %}&q_case_number={{q_case_number}}{%endif%}{%if q_name %}&q_name={{q_name}}{%endif%}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if data.has_next %}
                                    {% comment %} <li class="paginate_button page-item"><a class="page-link" href="?page={{ data.next_page_number }}">Next</a></li> {% endcomment %}
                                    <li class="paginate_button page-item"><a class="page-link" href="?page={{ data.paginator.num_pages }}&field={{sorting_field}}&order={{sorting_order}}&state={{state}}&district={{district}}&shelter={{shelter}}{%if q_case_number %}&q_case_number={{q_case_number}}{%endif%}{%if q_name %}&q_name={{q_name}}{%endif%}">Last</a></li>
                                {% else %}
                                    {% comment %} <li class="paginate_button page-item disabled"><span class="page-link">Next</span></li> {% endcomment %}
                                    <li class="paginate_button page-item disabled"><span class="page-link">Last</span></li>
                                {% endif %}
                                </ul>
                            {% endif %}
                        </nav>
                </div>     
            </div>     
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>

{% endblock %}


{% block extra_javascript %}
<!-- Required datatable js -->
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- Buttons examples -->
<script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

<!-- Responsive examples -->
<script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Datatable init js -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>
{% endblock %}