{% extends 'base.html' %}
{% load configuration_tags   %}
{% load static %}
{% block contents %}

<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        {% if mission_respose_obj.task.task_status%}
                        <p  class="text-dark"><b>Status : </b>{{mission_respose_obj.task.get_task_status_display}}</p>
                        {% endif %}
                        <h5 ><b class="card-title">Project : </b><span style="font-size: 14px;">{{mission_respose_obj.task.project.name}}</span></h5>
                        <h5><b class="card-title">Dist. & State : </b><span style="font-size: 14px;">{{mission_respose_obj.task.project.district.name}}, {{mission_respose_obj.task.project.district.state.name}}</span></h5>
                        <h5><b class="card-title">Project funded by : </b><span style="font-size: 14px;"> {{mission_respose_obj.task.project.get_project_donor_mapping}}</span></h5>
                    </div>

                    <div class="col-md-6">
                        <h5 id="right_side"><b class="card-title">Partner: </b><span style="font-size: 14px;">{{mission_respose_obj.task.project.partner_mission_mapping.partner.name}}</span> </h5>
                        <h5 id="right_side"><b class="card-title">Month: </b><span style="font-size: 14px;">{{mission_respose_obj.task.start_date|date:"F Y"}}</span> </h5>

                        {% disply_financial_year mission_respose_obj.task.start_date as financial_year %} 
                        <h5 id="right_side" > <b class="card-title">Financial year: </b></b><span style="font-size: 14px;">{{financial_year}}</span></h5>
                    </div>
                </div>

                <form method='POST' class="" enctype="multipart/form-data" novalidate>
                    {% if slug == 'mission-jyot' %}
                    <label for="working_day" class="card-title">Number of days the Vision Centre was open: </label>
                    <input type="text" id="working_day" name="working_day" style="width: 50px;" onkeypress="return /[0-9]/i.test(event.key)" size="3" maxlength="3" >
                    {% endif %}
                {% if 'Partner Data Entry Operator' == user_role and mission_respose_obj.task.task_status == 1 %}
                <input type='button' style="float: right;" id='download_button' class="btn btn-primary w-md" value='Submit for Approval' onclick="Confirm('{{mission_respose_obj.task.id}}',2,'Submit for Approval')">
                {% elif 'Partner Data Entry Operator' == user_role and mission_respose_obj.task.task_status == 4 %}
                <input type='button' style="float: right;" id='download_button' class="btn btn-primary w-md" value='Submit for Approval' onclick="Confirm('{{mission_respose_obj.task.id}}',2,'Submit for Approval')">
                {% endif %}

                {% csrf_token %}
                    {% if programe_category %}
                    <p class="text-dark text-center text-uppercase"><b><br>Programme Data</b></p>
                    {% for data in programe_category %}
                        <div class="table-responsive">
                            <h5 class="text-dark card-title"> <b>{{data.name}}</b></h5>
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr><th>Indicator</th>
                                        <th>Indicator Type</th> 
                                        <th>Target</th>
                                        <th>Total </th>
                                        <th>Adult Male</th>
                                        <th>Adult Female</th>
                                        <th>Adult Transgender</th>
                                        <th>Child Male</th>
                                        <th>Child Female</th>
                                        <th>Child Transgender</th>
                                    </tr>
                                </thead>
                                    {% for sub_category in data.sub_category %}
                                    <tbody>
                                        <td>{{sub_category.name}}</td> 
                                        <td>{{sub_category.get_indicator_type_display}}</td> 
                                        
                                        {% disply_indicator_target_values mission_respose_obj.task.id sub_category.id as target_values %}  
                                        <td>{{target_values}} </td> 
                                        <td>     
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id  'total_' as total %}                                  
                                            <input type="number" name="total_{{sub_category.id}}" value="{{total}}"  class="form-control row_total" readonly > 
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id  'adult_male_' as adult_male %} 
                                            <input type="text" name="adult_male_{{sub_category.id}}" value="{% if adult_male %}{{adult_male}}{% endif %}" onkeypress="return /[0-9]/i.test(event.key)"  class="form-control adult_male" id="adult_male_id" {% if sub_category.indicator_type == 2 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id  'adult_female_' as adult_female %} 
                                            <input type="text" name="adult_female_{{sub_category.id}}" value="{% if adult_female %}{{adult_female}}{% endif %}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control adult_female" id="adult_female_id" {% if sub_category.indicator_type == 2 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id  'adult_transgender_' as adult_transgender %} 
                                            <input type="text" name="adult_transgender_{{sub_category.id}}" value="{% if adult_transgender %}{{adult_transgender}}{% endif %}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control adult_transgender" id="adult_transgender_id" {% if sub_category.indicator_type == 2 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id  'child_male_' as child_male %}
                                            <input type="text" name="child_male_{{sub_category.id}}" value="{% if child_male %}{{child_male}}{% endif %}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control child_male" id="child_male_id" {% if sub_category.indicator_type == 2 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id  'child_female_' as child_female %}
                                            <input type="text"  name="child_female_{{sub_category.id}}" value="{% if child_female %}{{child_female}}{% endif %}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control child_female" id="child_female_id" {% if sub_category.indicator_type == 2 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id  'child_transgender_' as child_transgender %}
                                            <input type="text" name="child_transgender_{{sub_category.id}}" value="{% if child_transgender %}{{child_transgender}}{% endif %}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control child_transgender" id="child_transgender_id" {% if sub_category.indicator_type == 2 %}readonly{% endif %} >
                                        </td>
                                    </tbody>    
                                    {% endfor %} 
                            </table><br>
                            </div>
                        {% endfor %} 
                    {% endif %}

                    {% if finance_category %}
                    <p class="text-dark text-center text-uppercase"><b><br>Finance Data</b></p>
                    {% for fin_data in finance_category %}
                    <div class="table-responsive">
                            <h5 class="text-dark card-title"> {{fin_data.name}} </h5>
                            <table class="table table-hover" id="hospital_report">
                                <thead class="table-light">
                                    <tr>
                                        <th>Particulars</th>
                                        {% if fin_data.label_configuration == 2 %}
                                        <th>Approved Budget</th>
                                        <th>Grants Received</th>
                                        <th>Expenses</th>
                                        {% else %}
                                        <th>Amount</th>
                                        {% endif %}
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                {% for sub_category in fin_data.sub_category %}
                                <tbody>
                                    <td>{{sub_category.name}}</td> 
                                    
                                    {% if fin_data.label_configuration == 2 %}
                                        {% disply_indicator_target_values mission_respose_obj.task.id sub_category.id as target_values %}  
                                    <td>{{target_values}}</td> 
                                    <td>
                                        {% disply_indicator_values mission_respose_obj.id sub_category.id  'actuals_with_grants_received_' as actuals_with_grants_received %}                                  
                                        <input type="text"  name="actuals_with_grants_received_{{sub_category.id}}" value="{% if actuals_with_grants_received %}{{actuals_with_grants_received}}{% endif %}" onkeypress="return /[0-9]/i.test(event.key)" size="9" maxlength="9" class="form-control" {% if sub_category.indicator_type == 3 %} readonly {% endif %}>
                                    </td> 
                                    <td>
                                        {% disply_indicator_values mission_respose_obj.id sub_category.id  'actuals_' as actuals %}                                  
                                        <input type="text"  name="actuals_{{sub_category.id}}" value="{% if actuals %}{{actuals}}{% endif %}" class="form-control" onkeypress="return /[0-9]/i.test(event.key)" size="9" maxlength="9" >
                                    </td> 
                                    {% else %}
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id  'amount_' as amount %}                                  
                                            <input type="text" name="amount_{{sub_category.id}}" value="{% if amount %}{{amount}}{% endif %}" class="form-control" onkeypress="return /[0-9]/i.test(event.key)" size="9" maxlength="9" >
                                        </td> 
                                    {% endif %}
                                    <td>
                                        {% disply_indicator_values mission_respose_obj.id sub_category.id  'comment_' as comment %}                                  
                                        <input type="text"  name="comment_{{sub_category.id}}" value="{% if comment %}{{comment}}{% endif %}" class="form-control" >
                                    </td> 
                                </tbody>   
                                {% endfor %} 
                            </table>
                        </div>
                        {% endfor %} 
                    {% endif %}
                    
                    <label for="project_reference_file">Project Reference File : </label>
                    <input type="file" name="project_reference_file">

                    <div class="modal-footer">
                            {%  if 'Partner Data Entry Operator' == user_role %}
                                {% if mission_respose_obj.task.task_status == 1 or mission_respose_obj.task.task_status == 4 %}
                                <button type="submit" class="btn btn-primary  ml-2">Save</button>
                                <button type="reset" onclick="location.href='/task-list/'" class="btn btn-secondary waves-effect">Cancel</button>
                                {% endif %}
                            {%  elif 'Partner Admin' == user_role %}
                                {% if mission_respose_obj.task.task_status == 2 %}
                                <button type="button" value="{{task_id}}" class="confirm_btn btn btn-info ml-2" onclick="Confirm('{{mission_respose_obj.task.id}}',3,'Approve')">Approved</button>
                                <button type="button" value="{{task_id}}" class="confirm_btn btn btn-info ml-2" onclick="Confirm('{{mission_respose_obj.task.id}}',4,'Reject')">Reject</button>
                                <button type="reset" onclick="location.href='/task-list/'" class="btn btn-secondary waves-effect">Cancel</button>
                                {% endif %}
                            {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    #right_side{
        margin-left: 50%
    }
</style>

<script>
    $('.adult_male,.adult_female,.adult_transgender,.child_male,.child_female,.child_transgender').keyup(function(){
        var tr = $(this).closest('tr');
        var a_m = tr.find('#adult_male_id').val();
        if(a_m == ''){
            a_m = 0
        }
        var adult_female = tr.find('#adult_female_id').val();
        if(adult_female == ''){
            adult_female = 0
        }
        var adult_transgender = tr.find('#adult_transgender_id').val();
        if(adult_transgender == ''){
            adult_transgender=0
        }
        var child_male = tr.find('#child_male_id').val();
        if(child_male == ''){
            child_male = 0
        }

        var child_female = tr.find('#child_female_id').val();
        if(child_female == ''){
            child_female = 0
        }
        var child_transgender = tr.find('#child_transgender_id').val();
        if(child_transgender == ''){
            child_transgender = 0
        }
        var total = parseInt(a_m)+parseInt(adult_female)+parseInt(adult_transgender)+parseInt(child_male)+parseInt(child_female)+parseInt(child_transgender);
        tr.find('.row_total').val(total);
    });
</script>
<script>
    function Confirm(task_id,val,title){
        Swal.fire({
        title: 'Are you sure you want to '+ title +' ?',
        showCancelButton: true,
        confirmButtonText: 'Yes',
        }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed){
            $.ajax({
            url: '/ajax-task/'+task_id,
            type:'POST',
            data:{status_val:val}, 
            dataType: 'json',
            success: function(result) {
                window.location.reload();
            } 
        });
        }
    }).then(function(){ window.location.reload(); })
    }
</script>

{% endblock %}