{% extends 'base.html' %}
{% load configuration_tags   %}
{% load static %}
{% block contents %}
<div class="row align-items-center">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        {% if task_obj.task_status%}
                            <p  class="text-dark"><b>Status : </b>{{task_obj.get_task_status_display}}</p>
                        {% endif %}
                        <h5 ><b class="card-title">Project : </b><span style="font-size: 14px;">{{task_obj.project.name}}</span></h5>
                        <h5><b class="card-title">District & State : </b><span style="font-size: 14px;">{{task_obj.project.district.name}}, {{task_obj.project.district.state.name}}</span></h5>
                        <h5><b class="card-title">Location: </b><span style="font-size: 14px;">{{task_obj.project.location}}</span> </h5>
                        <h5><b class="card-title">Project funded by : </b><span style="font-size: 14px;"> {{task_obj.project.get_project_donor_mapping}}</span></h5>
                    </div>
                    <div class="col-md-6" >
                        <h5 id="right_side"><b class="card-title">Partner : </b><span style="font-size: 14px;">{{task_obj.project.partner_mission_mapping.partner.name}}</span></h5>
                        <h5 id="right_side"><b class="card-title">Month : </b><span style="font-size: 14px;">{{task_obj.start_date|date:"F Y"}}</span></h5>

                        {% disply_financial_year task_obj.start_date as financial_year %} 
                        <h5 id="right_side" > <b class="card-title">Financial year : </b> <span style="font-size: 14px;">{{financial_year}}</span></h5>
                    </div>
                </div>

                <form method='POST' class="" enctype="multipart/form-data" novalidate>
                    {% if slug == 'mission-jyot' %}
                    <label for="working_day" class="card-title">No. of days VC was functional : </label>
                    <input type="text" id="working_day" name="working_day" style="width: 50px;" onkeypress="return /[0-9]/i.test(event.key)" size="3" maxlength="3" >
                    {% elif slug == 'mission-disha' %}
                    <label for="camp_organized" class="card-title">Camp organized for : </label> 
                        <select id="camp_organized", name="camp_organized">
                            <option value="" selected>Select</option>
                            <option value="1">Drivers</option>
                            <option value="2">Truckers</option>
                            <option value="3">Carpenters</option>
                        </select>
                    {% else %}    
                    <label class="card-title"> </label>
                    {% endif %}

                    {%  if 'Partner Data Entry Operator' == user_role and task_obj.task_status == 1 %}
                    <input type='button' style="float: right;" id='' class="btn btn-primary w-md" value='Submit for Approval' onclick="Confirm('{{task_id}}',2,'Submit for Approval')">
                    {% elif 'Partner Data Entry Operator' == user_role and task_obj.task_status == 4 %}
                    <input type='button' style="float: right;" id='download_button' class="btn btn-primary w-md" value='Submit for Approval' onclick="Confirm('{{mission_respose_obj.task.id}}',2,'Submit for Approval')">
                    {% endif %}
                    
                {% csrf_token %}
                {% if programe_category %}
                <p></p>
                
                <p class="card-title text-center text-uppercase p-1 mb-1 text-white" style="background-color:#13437e;">Programme Data</p>


                    {% for data in programe_category %}
                    <div class="table-responsive">
                        <h5 class="card-title groove bg-warning"> {{data.name}} </h5>
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th class="table-active">Indicator</th>
                                    <th class="table-active">Indicator Type</th> 
                                    <th class="table-active">Target </th>
                                    <th class="table-active">Total </th>
                                    <th class="table-info">Adult Male</th>
                                    <th class="table-info">Adult Female</th>
                                    <th class="table-info">Adult Transgender</th>
                                    <th class="table-info">Total Adult</th>
                                    <th class="table-warning">Child Male</th>
                                    <th class="table-warning">Child Female</th>
                                    <th class="table-warning">Child Transgender</th>
                                    <th class="table-warning">Total Child</th>
                                </tr>
                            </thead>
                                {% for sub_category in data.sub_category %}
                                <tbody>
                                    <td>{{sub_category.name}}</td> 
                                    <td>{{sub_category.get_indicator_type_display}}</td> 
                                    
                                    {% disply_indicator_target_values task_obj.id sub_category.id as target_values %}  
                                    <td>{{target_values}} </td> 
                                    <td>
                                        <input type="text" name="total_{{sub_category.id}}" id="total" class="form-control row_total" readonly>
                                        <!-- <div class="invalid-feedback">Please enter the Total value</div> -->
                                    </td>
                                    <td><input type="text" name="adult_male_{{sub_category.id}}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control adult_male" size="5" maxlength="5" id="adult_male_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 2 %}readonly{% endif %}>
                                        <!-- <div class="invalid-feedback">Please enter the Adult Male value</div> -->
                                    </td>
                                    <td>
                                        <input type="text" name="adult_female_{{sub_category.id}}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control adult_female" size="5" maxlength="5" id="adult_female_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 2 %}readonly{% endif %} >
                                        <!-- <div class="invalid-feedback">Please enter the Adult Female value</div> -->
                                    </td>
                                    <td>
                                        <input type="text" name="adult_transgender_{{sub_category.id}}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control adult_transgender" size="5" maxlength="5" id="adult_transgender_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 2 %}readonly{% endif %} >
                                        <!-- <div class="invalid-feedback">Please enter the Target value</div> -->
                                    </td>
                                    <td>
                                        <input type="number" name="total_adult_{{sub_category.id}}" id="total_adult" class="form-control row_total_adult" readonly >
                                    </td>
                                    <td>
                                        <input type="text" name="child_male_{{sub_category.id}}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control child_male" size="5" maxlength="5" id="child_male_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 3 %}readonly{% endif %} >
                                        <!-- <div class="invalid-feedback">Please enter the Target value</div> -->
                                    </td>
                                    <td>
                                        <input type="text" name="child_female_{{sub_category.id}}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control child_female" size="5" maxlength="5" id="child_female_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 3 %}readonly{% endif %} >
                                        <!-- <div class="invalid-feedback">Please enter the Target value</div> -->
                                    </td>
                                    <td>
                                        <input type="text" name="child_transgender_{{sub_category.id}}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control child_transgender" size="5" maxlength="5" id="child_transgender_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 3 %}readonly{% endif %} >
                                        <!-- <div class="invalid-feedback">Please enter the Target value</div> -->
                                    </td>
                                    <td>
                                        <input type="number" name="total_child_{{sub_category.id}}" id="total_child" class="form-control row_total_child" readonly >
                                    </td>
                                </tbody>   
                                {% endfor %} 
                        </table>
                        </div><br>
                        {% endfor %} 
                {% endif %}

                {% if finance_category %}
                <p></p>
                <p class="card-title text-center text-uppercase p-1 mb-1 text-white" style="background-color:#13437e;">Finance Data</p>
                        {% for fin_data in finance_category %}
                        <div class="table-responsive">
                        
                            <h5 class="text-dark card-title bg-warning"> {{fin_data.name}} </h5>
                            <table class="table table-hover" id="hospital_report">
                                <thead class="table-light">
                                    <tr>
                                        <th class="table-active">Particulars</th>
                                        {% if fin_data.label_configuration == 2 %}
                                        <th class="table-active">Approved Budget</th>
                                        <th class="table-active">Grants Received</th>
                                        <th class="table-active">Expenses</th>
                                        {% else %}
                                        <th class="table-active">Amount</th>
                                        {% endif %}
                                        <th class="table-active">Comment</th>
                                    </tr>
                                </thead>
                                    {% for sub_category in fin_data.sub_category %}
                                    <tbody>
                                        <td>{{sub_category.name}}</td> 
                                        {% disply_indicator_target_values task_obj.id sub_category.id as target_values %}  
                                        {% if fin_data.label_configuration == 2 %}
                                        <td>{{target_values}}</td> 
                                        <td>
                                            <input type="text" name="actuals_with_grants_received_{{sub_category.id}}" onkeypress="return /[0-9]/i.test(event.key)" class="form-control" size="9" maxlength="9" {% if sub_category.indicator_type == 3 %} readonly {% endif %}>
                                        </td> 
                                        <td>
                                            <input type="text" name="actuals_{{sub_category.id}}" class="form-control" onkeypress="return /[0-9]/i.test(event.key)" size="9" maxlength="9" >
                                        </td> 
                                        {% else %}
                                        <td>
                                            <input type="text" name="amount_{{sub_category.id}}" class="form-control" onkeypress="return /[0-9]/i.test(event.key)" size="9" maxlength="9" >
                                        </td> 
                                        {% endif %}
                                        <td>
                                            <textarea rows="2" cols="50" name="comment_{{sub_category.id}}" class="form-control" ></textarea>
                                        </td> 
                                    </tbody>   
                                    {% endfor %} 
                            </table>
                        </div>
                        {% endfor %} 
                    {% endif %}
                    <label for="project_reference_file">Project Reference File : </label>
                    <input type="file" name="project_reference_file">

                    <div class="modal-footer">
                    {%  if 'Partner Data Entry Operator' == user_role %}
                        {% if task_obj.task_status == 1 or task_obj.task_status == 4 %}
                        <button type="submit" class="btn btn-primary  ml-2">Save</button>
                        <!-- <button type="submit" value="" class="confirm_btn btn btn-info ml-2" onclick="Confirm('{{task_id}}',2,'Submit for Approval')" >
                            Submit for Approval
                        </button> -->
                        <button type="reset" onclick="location.href='/task-list/'" class="btn btn-secondary waves-effect">Cancel</button>
                        {% endif %}
                    {%  elif 'Partner Admin' == user_role %}
                        {% if task_obj.task_status == 2 %}
                        <button type="submit" value="" class="confirm_btn btn btn-info ml-2" onclick="Confirm('{{task_id}}',3,'Approve')" >    
                            Approve
                        </button>
                        <button type="submit" value="}" class="confirm_btn btn btn-info ml-2" onclick="Confirm('{{task_id}}',4,'Reject')" >
                            Reject
                        </button>
                        <button type="reset" onclick="location.href='/task-list/'" class="btn btn-secondary waves-effect">Cancel</button>
                        {% endif %}

                    {% endif %}

                    </div>          
                </form>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    #right_side{
        margin-left: 50%
    }


</style>
<script>
    // Get the element
let topBtn = document.querySelector(".top-btn");

// On Click, Scroll to the page's top, replace 'smooth' with 'auto' if you don't want smooth scrolling
topBtn.onclick = () => window.scrollTo({ top: 0, behavior: "smooth" });

// On scroll, Show/Hide the btn with animation
window.onscroll = () => window.scrollY > 500 ? topBtn.style.opacity = 1 : topBtn.style.opacity = 0
</script>

<script>
    $('.adult_male,.adult_female,.adult_transgender,.child_male,.child_female,.child_transgender').keyup(function(){
        var tr = $(this).closest('tr');
        var a_m = tr.find('#adult_male_id').val();
        if(a_m == ''){
            a_m = 0
        }

        var adult_female = tr.find('#adult_female_id').val();
        if(adult_female == ''){
            adult_female = 0
        }

        var adult_transgender = tr.find('#adult_transgender_id').val();
        if(adult_transgender == ''){
            adult_transgender=0
        }

        var child_male = tr.find('#child_male_id').val();
        if(child_male == ''){
            child_male = 0
        }

        var child_female = tr.find('#child_female_id').val();
        if(child_female == ''){
            child_female = 0
        }

        var child_transgender = tr.find('#child_transgender_id').val();
        if(child_transgender == ''){
            child_transgender = 0
        }
        var total_adult = parseInt(a_m)+parseInt(adult_female)+parseInt(adult_transgender);
        tr.find('.row_total_adult').val(total_adult);

        var total_child = parseInt(child_male)+parseInt(child_female)+parseInt(child_transgender);
        tr.find('.row_total_child').val(total_child);

        var total = parseInt(a_m)+parseInt(adult_female)+parseInt(adult_transgender)+parseInt(child_male)+parseInt(child_female)+parseInt(child_transgender);
        tr.find('.row_total').val(total);
        // tr.find('.row_total').html(total);
    });
</script>

<script>
    function Confirm(task_id,val,title){
        Swal.fire({
        title: 'Are you sure you want to '+ title +' ?',
        showCancelButton: true,
        confirmButtonText: 'Yes',
        }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed){
            $.ajax({
            url: '/ajax-task/'+task_id,
            type:'POST',
            data:{status_val:val}, 
            dataType: 'json',
            success: function(result) {
                window.location.reload();
            } 
        });
        }
    }).then(function(){ window.location.reload(); })
    }
</script>

{% endblock %}