{% extends 'base.html' %}
{% load configuration_tags   %}
{% load static %}
{% block contents %}

<div class="row">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        {% if mission_respose_obj.task.task_status%}
                        <p  class="text-dark"><b>Status : </b>{{mission_respose_obj.task.get_task_status_display}}</p>
                        {% endif %}
                        <h5 ><b class="card-title">Project : </b><span style="font-size: 14px;">{{mission_respose_obj.task.project.name}}</span></h5>
                        <h5><b class="card-title">District & State : </b><span style="font-size: 14px;">{{mission_respose_obj.task.project.district.name}}, {{mission_respose_obj.task.project.district.state.name}}</span></h5>
                        <h5><b class="card-title">Location: </b><span style="font-size: 14px;">{{mission_respose_obj.task.project.location}}</span></h5>
                        <h5><b class="card-title">Project funded by : </b><span style="font-size: 14px;"> {{mission_respose_obj.task.project.get_project_donor_mapping}}</span></h5>
                    </div>

                    <div class="col-md-6">
                        <h5 id="right_side"><b class="card-title">Partner: </b><span style="font-size: 14px;">{{mission_respose_obj.task.project.partner_mission_mapping.partner.name}}</span> </h5>

                        <h5 id="right_side"><b class="card-title">Month: </b><span style="font-size: 14px;">{{mission_respose_obj.task.start_date|date:"F Y"}}</span> </h5>

                        {% disply_financial_year mission_respose_obj.task.start_date as financial_year %} 
                        <h5 id="right_side" > <b class="card-title">Financial year: </b></b><span style="font-size: 14px;">{{financial_year}}</span></h5>
                    </div>
                </div>

                <form method='POST' class="" enctype="multipart/form-data" novalidate>
                    {% if slug == 'mission-jyot' %}
                        <label for="working_day" class="card-title">No. of days VC was functional : </label>
                        <input type="text" id="working_day" name="working_day" value="{% if mission_respose_obj.number_working_days %}{{mission_respose_obj.number_working_days}}{% endif %}" style="width: 50px;" onkeypress="return /[0-9]/i.test(event.key)" size="3" maxlength="3" >
                    {% elif slug == 'mission-disha' %}
                        <label for="camp_organized" class="card-title">Camp organized for : </label> 
                        <select id="camp_organized", name="camp_organized">
                            <option value="" selected>Select</option>
                            <option value="1">Drivers</option>
                            <option value="2">Truckers</option>
                            <option value="3">Carpenters</option>
                        </select>
                    {% else %}    
                    <label class="card-title"></label>  
                    {% endif %}

                    {% if mission_respose_obj.task.task_status == 1 and 'Partner Data Entry Operator' == user_role %}
                        <input type='button' style="float: right;" id='download_button' class="btn btn-primary w-md" value='Submit for Approval' onclick="Confirm('{{mission_respose_obj.task.id}}',2,'Submit for Approval')">
                    {% endif %}

                    {% csrf_token %}
                    {% if programe_category %}
                    <p></p>
                    <p class="card-title text-center text-uppercase p-1 mb-1 text-white" style="background-color:#13437e;">Programme Data</b></p>
                    {% for data in programe_category %}
                        <div class="table-responsive">
                            <h5 class="text-dark card-title bg-warning"><b>{{data.name}}</b></h5>
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th class="table-active">Indicator</th>
                                        <!-- <th class="table-active">Indicator Type</th>  -->
                                        <th class="table-active">Target</th>
                                        <th class="table-active">Total</th>
                                        <th class="table-info">Adult Male</th>
                                        <th class="table-info">Adult Female</th>
                                        <th class="table-info">Adult Transgender</th>
                                        <th class="table-info">Total Adult</th>
                                        <th class="table-warning">Child Male</th>
                                        <th class="table-warning">Child Female</th>
                                        <th class="table-warning">Child Transgender</th>
                                        <th class="table-warning">Total Child</th>
                                    </tr>
                                </thead>
                                    {% for sub_category in data.sub_category %}
                                    <tbody>
                                        <td>{{sub_category.name}}</td> 
                                        <!-- <td>{{sub_category.get_indicator_type_display}}</td>  -->
                                        
                                        {% disply_indicator_target_values mission_respose_obj.task.id sub_category.id as target_values %}  
                                        <td>{{target_values}} </td> 
                                        <td>     
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id 'total_' as total %}                                  
                                            <input type="text" style="width:70px;" name="total_{{sub_category.id}}" value="{{total|default_if_none:''}}" size="5" maxlength="5" class="form-control row_total" {% if sub_category.indicator_type != 2 %}readonly{% endif %} > 
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id 'adult_male_' as adult_male %} 
                                            <input type="text" style="width:60px;" name="adult_male_{{sub_category.id}}" value="{{adult_male|default_if_none:''}}" onkeypress="return /[0-9]/i.test(event.key)" size="4" maxlength="4" class="form-control adult_male" id="adult_male_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 2 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id 'adult_female_' as adult_female %} 
                                            <input type="text" style="width:60px;" name="adult_female_{{sub_category.id}}" value="{{adult_female|default_if_none:''}}" onkeypress="return /[0-9]/i.test(event.key)" size="4" maxlength="4" class="form-control adult_female" id="adult_female_id"  {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 2 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id 'adult_transgender_' as adult_transgender %} 
                                            <input type="text" name="adult_transgender_{{sub_category.id}}" value="{{adult_transgender|default_if_none:''}}" onkeypress="return /[0-9]/i.test(event.key)" size="4" maxlength="4" class="form-control adult_transgender" id="adult_transgender_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 2 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id 'total_adult_' as total_adult %} 
                                            <input type="text" style="width:70px;" name="total_adult_{{sub_category.id}}" value="{{total_adult|default_if_none:''}}" class="form-control row_total_adult" size="5" maxlength="5" readonly >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id 'child_male_' as child_male %}
                                            <input type="text" style="width:60px;" name="child_male_{{sub_category.id}}" value="{{child_male|default_if_none:''}}" onkeypress="return /[0-9]/i.test(event.key)" size="4" maxlength="4" class="form-control child_male" id="child_male_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 3 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id 'child_female_' as child_female %}
                                            <input type="text" style="width:60px;" name="child_female_{{sub_category.id}}" value="{{child_female|default_if_none:''}}" onkeypress="return /[0-9]/i.test(event.key)" size="4" maxlength="4" class="form-control child_female" id="child_female_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 3 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id 'child_transgender_' as child_transgender %}
                                            <input type="text" name="child_transgender_{{sub_category.id}}" value="{{child_transgender|default_if_none:''}}" onkeypress="return /[0-9]/i.test(event.key)" size="4" maxlength="4" class="form-control child_transgender" id="child_transgender_id" {% if sub_category.indicator_type == 2 or mission_obj.age_group_option == 3 %}readonly{% endif %} >
                                        </td>
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id 'total_child_' as total_child %} 
                                            <input type="text" style="width:70px;" name="total_child_{{sub_category.id}}" value="{{total_child|default_if_none:''}}" size="5" maxlength="5" class="form-control row_total_child" readonly >
                                        </td>
                                    </tbody>    
                                    {% endfor %} 
                            </table><br>
                            </div>
                        {% endfor %} 
                    {% endif %}

                    {% if finance_category %}
                    <p></p>
                    <p class="card-title text-center text-uppercase p-1 mb-1 text-white" style="background-color:#13437e;">Finance Data</b></p>
                    {% for fin_data in finance_category %}
                    <div class="table-responsive">
                            <h5 class="text-dark card-title bg-warning"> {{fin_data.name}} </h5>
                            <table class="table table-hover" id="hospital_report">
                                <thead class="table-light">
                                    <tr>
                                        <th class="table-active">Particulars</th>
                                        {% if fin_data.label_configuration == 2 %}
                                        <th class="table-active">Approved Budget</th>
                                        <th class="table-active">Grants Received</th>
                                        <th class="table-active">Expenses</th>
                                        {% else %}
                                        <th class="table-active">Amount</th>
                                        {% endif %}
                                        <th class="table-active">Comment</th>
                                    </tr>
                                </thead>
                                {% for sub_category in fin_data.sub_category %}
                                <tbody>
                                    <td>{{sub_category.name}}</td> 
                                    
                                    {% if fin_data.label_configuration == 2 %}
                                        {% disply_indicator_target_values mission_respose_obj.task.id sub_category.id as target_values %}  
                                    <td>{{target_values}}</td> 
                                    <td>
                                        {% disply_indicator_values mission_respose_obj.id sub_category.id  'actuals_with_grants_received_' as actuals_with_grants_received %}                                  
                                        <input type="text" name="actuals_with_grants_received_{{sub_category.id}}" value="{{actuals_with_grants_received|default_if_none:''}}" onkeypress="return /[0-9]/i.test(event.key)" size="8" maxlength="8" class="form-control" {% if sub_category.indicator_type == 3 %} readonly {% endif %}>
                                    </td> 
                                    <td>
                                        {% disply_indicator_values mission_respose_obj.id sub_category.id  'actuals_' as actuals %}                                  
                                        <input type="text" name="actuals_{{sub_category.id}}" value="{{actuals|default_if_none:''}}" class="form-control" onkeypress="return /[0-9]/i.test(event.key)" size="8" maxlength="8" >
                                    </td> 
                                    {% else %}
                                        <td>
                                            {% disply_indicator_values mission_respose_obj.id sub_category.id  'amount_' as amount %}                                  
                                            <input type="text" name="amount_{{sub_category.id}}" value="{{amount|default_if_none:''}}" class="form-control" onkeypress="return /[0-9]/i.test(event.key)" size="8" maxlength="8" >
                                        </td> 
                                    {% endif %}
                                    <td>
                                        {% disply_indicator_values mission_respose_obj.id sub_category.id  'comment_' as comment %}                                  
                                        <textarea rows="2" cols="50" name="comment_{{sub_category.id}}" >{% if comment %}{{comment}}{% endif %}</textarea>
                                    </td> 
                                </tbody>   
                                {% endfor %} 
                            </table>
                        </div>
                        {% endfor %} 
                    {% endif %}
                    
                    <label for="project_reference_file">Project Reference File : </label>
                    <a href="{% if mission_respose_obj.project_reference_file %}{{mission_respose_obj.project_reference_file.url}}{% else %}#{% endif %}">{{mission_respose_obj.project_reference_file}}</a>             
                    <input type="file" name="project_reference_file">  
                    {% if dataentry_obj %}
                    <div>
                        <button type="button" class="btn btn-info"><b>Remark</b></button>
                        {% for i in dataentry_obj %}
                            <P><b>Updated by:</b>{{user}}, {{i.created}}  </P>
                            <P><b>Status:</b> {{i.remark}}.</P>
                        {% endfor %}
                    </div> 
                    {% endif %}
                    <div class="relative">
                        <input type='button' class="btn btn-primary w-md" value='Move To Top' onclick="window.scrollTo({ top: 0, behavior: 'smooth'})">
                            {% if 'Partner Data Entry Operator' == user_role %}
                                {% if mission_respose_obj.task.task_status == 1 %}
                                <button type="submit"  class="btn btn-primary float-end ml-2">Save</button>
                                {% endif %}

                            {% elif 'Partner Admin' == user_role %}
                                {% if mission_respose_obj.task.task_status == 2 %}
                                <button type="button" style='margin-right:5px' value="{{task_id}}" class="confirm_btn btn btn-info ml-2 float-end" onclick="Confirm('{{mission_respose_obj.task.id}}',3,'Approve')">Approve</button>
                                <button type="button" style='margin-right:5px' value="{{task_id}}" class="confirm_btn btn btn-info ml-2 float-end" onclick="ConfirmNeed('{{mission_respose_obj.task.id}}',1,'Need Revision')">Need Revision</button>
                                <!-- <button type="button" style='margin-right:5px' value="{{task_id}}" class="confirm_btn btn btn-info ml-2 float-end" onclick="Confirm('{{mission_respose_obj.task.id}}',5,'Reject')">Reject</button> -->
                                {% endif %}

                            {% elif 'Project In-charge' == user_role %}
                                {% if mission_respose_obj.task.task_status == 3 %}
                                    <button type="button" style='margin-right:5px' value="{{task_id}}" class="confirm_btn btn btn-info ml-2 float-end" onclick="Confirm('{{mission_respose_obj.task.id}}',4,'Approve')">Approve</button>
                                    <button type="button" style='margin-right:5px' value="{{task_id}}" class="confirm_btn btn btn-info ml-2 float-end" onclick="ConfirmNeed('{{mission_respose_obj.task.id}}',2,'Need Revision')">Need Revision</button>
                                    <!-- <button type="button" style='margin-right:5px' value="{{task_id}}" class="confirm_btn btn btn-info ml-2 float-end" onclick="Confirm('{{mission_respose_obj.task.id}}',5,'Reject')">Reject</button> -->
                                {% endif %}
                            {% endif %}
                        <button type="reset" style='margin-right:5px' onclick="location.href='/task-list/'" class="btn float-end btn-secondary waves-effect">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    #right_side{
        margin-left: 50%
    }
</style>
<script>
    // Get the element
    window.scroll({
    top: 200, 
    left: 0, 
    behavior: 'smooth'
    });
</script>
{% if mission_respose_obj %}
<script>
    $(document).ready(function(){
		var camp_organized = parseInt("{{mission_respose_obj.camp_organized}}")
        if(camp_organized){
            $("#camp_organized").val(camp_organized)
        } 
    });
</script>
{% endif %}

<script>
    $('.adult_male,.adult_female,.adult_transgender,.child_male,.child_female,.child_transgender').keyup(function(){
        var tr = $(this).closest('tr');
        var a_m = tr.find('#adult_male_id').val();
        if(a_m == ''){
            a_m = 0
        }
        var adult_female = tr.find('#adult_female_id').val();
        if(adult_female == ''){
            adult_female = 0
        }
        var adult_transgender = tr.find('#adult_transgender_id').val();
        if(adult_transgender == ''){
            adult_transgender=0
        }
        var child_male = tr.find('#child_male_id').val();
        if(child_male == ''){
            child_male = 0
        }

        var child_female = tr.find('#child_female_id').val();
        if(child_female == ''){
            child_female = 0
        }
        var child_transgender = tr.find('#child_transgender_id').val();
        if(child_transgender == ''){
            child_transgender = 0
        }

        var total_adult = parseInt(a_m)+parseInt(adult_female)+parseInt(adult_transgender);
        tr.find('.row_total_adult').val(total_adult);

        var total_child = parseInt(child_male)+parseInt(child_female)+parseInt(child_transgender);
        tr.find('.row_total_child').val(total_child);

        var total = parseInt(a_m)+parseInt(adult_female)+parseInt(adult_transgender)+parseInt(child_male)+parseInt(child_female)+parseInt(child_transgender);
        tr.find('.row_total').val(total);
    });
</script>

<script>
    function Confirm(task_id,val,title){
        Swal.fire({
        title: 'Are you sure you want to '+ title +' ?',
        showCancelButton: true,
        confirmButtonText: 'Yes',
        }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed){
            $.ajax({
            url: '/ajax-task/'+task_id,
            type:'POST',
            data:{status_val:val}, 
            dataType: 'json',
            success: function(result) {
                window.location.reload();
            } 
        });
        }
    }).then(function(){ window.location.reload(); })
    }
</script>
<script>
    function ConfirmNeed(task_id,val,title){
        Swal.fire({
        title: 'Are you sure you want to '+ title +' ?',
        input: 'textarea',
        showCancelButton: true,
        confirmButtonText: 'Yes',
        inputValidator: function (value) {
            return !value && 'You need to write something!'
        }
        }).then((result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed){
            $.ajax({
            url: '/ajax-task/'+task_id,
            type:'POST',
            data:{status_val:val,remark: result.value}, 
            dataType: 'json',
            success: function(result) {
                window.location.reload();
            } 
        });
        }
    }).then(function(){ window.location.reload(); })
    }
</script>
{% endblock %}