{% extends 'base.html' %}
{% load configuration_tags   %}
{% load static %}
{% block contents %}
<div class="row align-items-center">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6">
                        
                        <h5 ><b class="card-title">Project: </b>{{task_obj.project.name}}</h5>
                        <h5><b class="card-title">Dist. & State: </b> {{task_obj.project.district.name}}, {{task_obj.project.district.state.name}}</h5>
                        <h5><b class="card-title">Project funded by: </b> {{task_obj.project.get_project_donor_mapping}}</h5>
                    </div>

                    <div class="col-md-6">
                        <h5 id="right_side"><b class="card-title">Partner: </b>{{task_obj.project.partner_mission_mapping.partner.name}}, {{task_obj.project.district.name}}, {{task_obj.project.district.state.name}}</h5>
                        <h5 id="right_side"><b class="card-title">Month: </b> {{task_obj.start_date|date:"F Y"}}</h5>

                        {% disply_financial_year task_obj.start_date as financial_year %} 
                        <h5 id="right_side" > <b class="card-title">Financial year: </b> {{financial_year}}</h5>
                    </div>
                </div><br>
                
                <form method='POST' class="" enctype="multipart/form-data"  novalidate>
                    <label for="working_day" class="card-title">No. of Days Project Functional during the month: </label>
                    <input type="number" id="working_day" name="working_day" style="width: 50px;">

                    {%  if 'Partner Data Entry Operator' == user_role and task_obj.task_status == 1 or task_obj.task_status == 4 %}
                    <input type='button'  style="float: right;" id='download_button' class="btn btn-primary w-md" value='Submit for Approval' onclick="Confirm('{{task_id}}',2,'Submit for Approval')">
                    {% endif %}

                    {% csrf_token %}
                    {% if programe_category %}
                    <h5 style="text-align: center;">Program Data</h5>
                        {% for data in programe_category %}
                        <div class="table-responsive">
                            <h5> {{data.name}} </h5>
                            <table class="table table-hover a" id="hospital_report">
                                <thead class="table-light">
                                    <tr><th>Indicator</th>
                                        <th>Indicator Type</th> 
                                        <th>Target </th>
                                        <th>Total </th>
                                        <th>Adult Male</th>
                                        <th>Adult Female</th>
                                        <th>Adult Transgender</th>
                                        <th>Child Male</th>
                                        <th>Child Female</th>
                                        <th>Child Transgender</th>
                                    </tr>
                                </thead>
                                    {% for sub_category in data.sub_category %}
                                    <tbody>
                                        <td>{{sub_category.name}}</td> 
                                        <td>{{sub_category.get_indicator_type_display}}</td> 
                                        
                                        {% disply_indicator_target_values task_obj.id sub_category.id as target_values %}  
                                        <td>{{target_values}} </td> 
                                        <td>
                                            <input type="text" id="txtresult"  name="total_{{sub_category.id}}" value="" class="form-control" maxlength="1" readonly>
                                            <!-- <div class="invalid-feedback">Please enter the Total value</div> -->
                                        </td> 
                                        <td><input type="number" id="Text1"  name="adult_male_{{sub_category.id}}" value="" class="form-control" maxlength="2" onkeypress="return add_number(event)">
                                            <!-- <div class="invalid-feedback">Please enter the Adult Male value</div> -->
                                        </td>
                                        <td>
                                            <input type="number" id="Text2" name="adult_female_{{sub_category.id}}" value="" class="form-control" maxlength="3" onkeypress="return add_number(event)">
                                            <!-- <div class="invalid-feedback">Please enter the Adult Female value</div> -->
                                        </td>
                                        <td>
                                            <input type="number" id="Text3" name="adult_transgender_{{sub_category.id}}" value="" class="form-control" maxlength="4" onkeypress="return add_number(event)">
                                            <!-- <div class="invalid-feedback">Please enter the Target value</div> -->
                                        </td>
                                        <td>
                                            <input type="number" id="Text4" name="child_male_{{sub_category.id}}" value="" class="form-control" maxlength="5" onkeypress="return add_number(event)">
                                            <!-- <div class="invalid-feedback">Please enter the Target value</div> -->
                                        </td>
                                        <td>
                                            <input type="number" id="Text5" name="child_female_{{sub_category.id}}" value="" class="form-control" maxlength="6" onkeypress="return add_number(event)">
                                            <!-- <div class="invalid-feedback">Please enter the Target value</div> -->
                                        </td>
                                        <td>
                                            <input type="number" id="Text6" name="child_transgender_{{sub_category.id}}" value="" class="form-control" maxlength="7" onkeypress="return add_number(event)">
                                            <!-- <div class="invalid-feedback">Please enter the Target value</div> -->
                                        </td>
                                    </tbody>   
                                    {% endfor %} 
                            </table>
                       
                        {% endfor %} 
                    {% endif %}

                    {% if finance_category %}
                    <h5 style="text-align: center;">Finance Data</h5>
                        {% for fin_data in finance_category %}
                        
                            <h5> {{fin_data.name}} </h5>
                            <table class="table table-hover" id="hospital_report">
                                <thead class="table-light">
                                    <tr><th>Indicator</th>
                                        <th>Indicator Type</th> 
                                        <th>Budgeted Amount</th>
                                        <th>Grants Received</th>
                                        <th>Actuals</th>
                                    </tr>
                                </thead>
                                    {% for sub_category in fin_data.sub_category %}
                                    <tbody>
                                        <td>{{sub_category.name}}</td> 
                                        <td>{{sub_category.get_indicator_type_display}}</td> 

                                        {% disply_indicator_target_values task_obj.id sub_category.id as target_values %}  
                                        <td>{{target_values}} </td> 

                                        <td>
                                            <input type="number" name="actuals_with_grants_received_{{sub_category.id}}" value="" class="form-control" maxlength="6">
                                            <!-- <div class="invalid-feedback">Please enter the Total value</div> -->
                                        </td> 
                                        <td>
                                            <input type="number" name="actuals_{{sub_category.id}}" value="" class="form-control" maxlength="5" {% if sub_category.indicator_type == 3 %} readonly {% endif %}>
                                        </td> 
                                    </tbody>   
                                    {% endfor %} 
                            </table>
                        </div>
                        {% endfor %} 
                    {% endif %}
                    <label for="project_reference_file">Project Reference File : </label>
                    <input type="file" name="project_reference_file">

                    <div class="modal-footer">
                    {%  if 'Partner Data Entry Operator' == user_role %}
                        {% if task_obj.task_status == 1 or task_obj.task_status == 4 %}
                        <button type="submit" class="btn btn-primary  ml-2">Save</button>
                        <!-- <button type="submit" value="" class="confirm_btn btn btn-info ml-2" onclick="Confirm('{{task_id}}',2,'Submit for Approval')" >
                            Submit for Approval
                        </button> -->
                        <button type="reset" onclick="location.href='/task-list/'" class="btn btn-secondary waves-effect">Cancel</button>
                        {% endif %}
                    {%  elif 'Partner Admin' == user_role %}
                        {% if task_obj.task_status == 2 %}
                        <button type="submit" value="" class="confirm_btn btn btn-info ml-2" onclick="Confirm('{{task_id}}',3,'Approve')" >    
                            Approve
                        </button>
                        <button type="submit" value="}" class="confirm_btn btn btn-info ml-2" onclick="Confirm('{{task_id}}',4,'Reject')" >
                            Reject
                        </button>
                        <button type="reset" onclick="location.href='/task-list/'" class="btn btn-secondary waves-effect">Cancel</button>
                        {% endif %}

                    {% endif %}

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    #right_side{
        margin-left: 50%
    }
</style>

<script>
    function add_number(e) {
    if (isNumberKey(e)) {
        setTimeout(() => {
        var first_number = document.getElementById("Text1").value !== "" ? parseInt(document.getElementById("Text1").value) : 0;
        var second_number = document.getElementById("Text2").value !== "" ? parseInt(document.getElementById("Text2").value) : 0;
        var three_number = document.getElementById("Text3").value !== "" ? parseInt(document.getElementById("Text3").value) : 0;
        var four_number = document.getElementById("Text4").value !== "" ? parseInt(document.getElementById("Text4").value) : 0;
        var four_number = document.getElementById("Text5").value !== "" ? parseInt(document.getElementById("Text5").value) : 0;
        var four_number = document.getElementById("Text6").value !== "" ? parseInt(document.getElementById("Text6").value) : 0;

        var result = first_number + second_number+ three_number + four_number;
        document.getElementById("txtresult").value = result;
        }, 50)
        return true;
    } else {
        return false;
    }
    }

    function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
    }
</script>

    <script>
        function Confirm(task_id,val,title){
            Swal.fire({
            title: 'Are you sure you want to '+ title +' ?',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed){
                $.ajax({
                url: '/ajax-task/'+task_id,
                type:'POST',
                data:{status_val:val}, 
                dataType: 'json',
                success: function(result) {
                    window.location.reload();
                } 
            });
            }
        }).then(function(){ window.location.reload(); })
        }
    </script>

{% endblock %}