{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="row align-items-center">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="table-responsive">
                                   
                                    <p style="float: right;"><b>Periodicity Date : </b>{{today|date:"F Y"}}</p>
                                    <table class="table mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th>SL No</th>
                                                <th style="width: 28%;">Mission</th>
                                                <th>Project</th>
                                                <!-- <th>Start Date</th>
                                                <th>End Date</th> -->
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if object_list %}
                                                {% for task in object_list %}
                                                    <tr>
                                                        <td>{{forloop.counter0|add:object_list.start_index}}</td>
                                                        <td>{{task.project.partner_mission_mapping.mission.name}}</td>
                                                        <td>{{task.name}}</td>
                                                        <!-- <td>{{task.start_date|date:"d-m-Y"}}</td>
                                                        <td>{{task.end_date|date:"d-m-Y"}}</td> -->
                                                        <td>{{task.get_task_status_display}}</td>
                                                        {% if task.get_task %}
                                                        <td><a href="/mission_edit/{{task.project.partner_mission_mapping.mission.slug}}/{{task.id}}/{{task.get_task.id}}/">{% if task.task_status == 2 %}View{% else %}Edit{% endif %}</a></td>
                                                        {% else %}
                                                        <td><a href="/{{task.project.partner_mission_mapping.mission.slug}}/monthly-report/{{task.id}}/">Add</a></td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}  
                                            {% else %}
                                                <td colspan="7" class="text-primary">No records found</td>
                                            {% endif %} 
                                            </tbody>
                                    </table><br>
                                    {% if object_list %}
                                        {% include 'partials/pagination.html' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row --> 
            </div>
        </div>
    </div>
<style>
    .select2-container .select2-selection {
        min-height: 55px
    }
    .select2-container .select2-selection--single .select2-selection__placeholder:after {
        content: " *";
        color: red;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('select#state').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            data = {'selected_state' : valueSelected };
            $.ajax({
                type:"GET",
                url: '/ajax/district/',
                data:data,
                success:function(result){
                    $("#district option").remove();
                    a = '<option selected disabled value="">Select District</option>';
                    $("#district").append(a);
                    $("#shelter option").remove();
                    b = '<option selected value="">Select Shelter Home</option>';
                    $("#shelter").append(b);
                    if(JSON.parse(result) == 0){
                        $("#district option").remove();
                        a = '<option selected disabled value="">No district is mapped to this state</option>';
                        $("#district").append(a);
                    }
                    else{
                        $.each(JSON.parse(result),function(key, value)
                        {
                            a = '<option value=' + value['id']+'>' + value['name']+'</option>';
                            $("#district").append(a);
                        });
                    }
                }
            });
        });
    });  
    $(document).ready(function(){
        $('select#district').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            data = {'selected_district' : valueSelected };
            $.ajax({
                type:"GET",
                url: '/ajax/shelterhome/',
                data:data,
                success:function(result){
                    $("#shelter option").remove();
                    a = '<option selected disabled value="">Select Shelter Home</option>';
                    $("#shelter").append(a);
                    if(JSON.parse(result) == 0){
                        $("#shelter option").remove();
                        a = '<option selected disabled value="">No shelter home is mapped to this district</option>';
                        $("#shelter").append(a);
                    }
                    else{
                        $.each(JSON.parse(result),function(key, value)
                        {
                            a = '<option value=' + value['id']+'>' + value['name']+'</option>';
                            $("#shelter").append(a);
                        });
                    }
                }
            });
        });
    });
      
</script>
</div>
{% endblock %}