{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <div class="row align-items-center">
        <div class="col-xl-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="collapse {{archive}}" id="collapseExample">
                                        <div class="card card-body">
                                            <form class="dt_adv_search" method="GET" action="/task-list/">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                        <label for="mission">Mission:</label>
                                                            <select class="form-control" id="mission" name="mission">
                                                                <option value="" selected>Select</option> 
                                                                {% for mission in mission_objs %}
                                                                    <option value="{{mission.id}}">{{mission.name}}</option> 
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="project">Project:</label>
                                                                <select class="form-control" id="project" name="project">
                                                                    <option value="" selected>Select</option> 
                                                                    {% for project in project_objs %}
                                                                        <option value="{{project.id}}" >{{project.name}}</option> 
                                                                    {% endfor %}
                                                                </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                        <label for="project">Month:</label>
                                                        <select class="form-control" id="month", name="month">
                                                            <option value="" selected>Select</option>
                                                            <option value="1">January</option>
                                                            <option value="2">February</option>
                                                            <option value="3">March</option>
                                                            <option value="4">April</option>
                                                            <option value="5">May</option>
                                                            <option value="6">June</option>
                                                            <option value="7">July</option>
                                                            <option value="8">August</option>
                                                            <option value="9">September</option>
                                                            <option value="10">October</option>
                                                            <option value="11">November</option>
                                                            <option value="12">December</option>
                                                        </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label  for="year">Year:</label>
                                                                <select class="form-control" id="year", name="year">
                                                                    <option value="" selected>Select</option>
                                                                    <option value="2022">2022</option>
                                                                    <!-- <option value="2023">2023</option>
                                                                    <option value="2024">2024</option>
                                                                    <option value="2025">2025</option>
                                                                    <option value="2026">2026</option> -->
                                                                </select>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary mr-1 waves-effect waves-float waves-light" tabindex="5">Search</button>
                                                        <span type="reset" class="btn btn-primary mr-1 waves-effect waves-float waves-light" onclick="location.href='/task-list/'" tabindex="7">Reset</span>
                                                    </div>                                                
                                                </div>    
                                            </form>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <p style="float: right;"><b>Periodicity : </b>{{previous_month|date:"F Y"}}</p>
                                    <table class="table mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th>SL No</th>
                                                <th style="width: 28%;">Mission</th>
                                                <th>Project</th>
                                                <!-- <th>Start Date</th> -->
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if object_list %}
                                                {% for task in object_list %}
                                                    <tr>
                                                        <td>{{forloop.counter0|add:object_list.start_index}}</td>
                                                        <td>{{task.project.partner_mission_mapping.mission.name}}</td>
                                                        <td>{{task.name}}</td>
                                                        <!-- <td>{{task.start_date|date:"d-m-Y"}}</td> -->
                                                        <td>{{task.get_task_status_display}}</td>
                                                        {% if task.get_task %}
                                                        <td><a href="/mission_edit/{{task.project.partner_mission_mapping.mission.slug}}/{{task.id}}/{{task.get_task.id}}/">{% if task.task_status == 2 or task.task_status == 3 %}View{% else %}Edit{% endif %}</a></td>
                                                        {% else %}
                                                        <td><a href="/{{task.project.partner_mission_mapping.mission.slug}}/monthly-report/{{task.id}}/">Add</a></td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}  
                                            {% else %}
                                                <td colspan="7" class="text-primary">No records found</td>
                                            {% endif %} 
                                            </tbody>
                                    </table><br>
                                    {% if object_list %}
                                    <nav aria-label="...">
                                        {% if object_list.has_other_pages %}
                                        <ul class="pagination justify-content-end ">
                                            {% if object_list.has_previous %}
                                            <li class="paginate_button page-item"><a class="page-link" href="?page={{ 1 }}">First</a></li>
                                            {% comment %} <li class="paginate_button page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">Previous</a></li> {% endcomment %}
                                            {% else %}
                                            <li class="paginate_button page-item disabled"><span class="page-link">First</span></li>
                                                {% comment %} <li class="paginate_button page-item disabled"><span class="page-link">Previous</span></li> {% endcomment %}
                                            {% endif %}
                                            {% for i in display_page_range %}
                                                {% if object_list.number == i %}
                                                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                                {% else %}
                                                <li class="paginate_button paginate_button page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if object_list.has_next %}
                                                {% comment %} <li class="paginate_button page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a></li> {% endcomment %}
                                                <li class="paginate_button page-item"><a class="page-link" href="?page={{ object_list.paginator.num_pages }}">Last</a></li>
                                            {% else %}
                                                {% comment %} <li class="paginate_button page-item disabled"><span class="page-link">Next</span></li> {% endcomment %}
                                                <li class="paginate_button page-item disabled"><span class="page-link">Last</span></li>
                                            {% endif %}
                                            </ul>
                                        {% endif %}
                                    </nav>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end row -->


<script>     
var months = '{{month}}'
if(months != 'None'){
    $('#month').val(months)
}

var years = '{{year}}'
if(years != 'None'){
    $('#year').val(years)
}

var missions = '{{mission}}'
if(missions != 'None'){
    $('#mission').val(missions)
}

var projects = '{{project}}'
if(projects != 'None'){
    $('#project').val(projects)
}
</script>
</script>
<!-- <script>
    $(document).ready(function() {
    var d = new Date();
    var month = d.getMonth() + 1;
    var year = d.getFullYear();

    $("#month").val(month); 
    $("#year").val(year);    
});
</script> -->

<style>
    .select2-container .select2-selection {
        min-height: 55px
    }
    .select2-container .select2-selection--single .select2-selection__placeholder:after {
        content: " *";
        color: red;
    }
</style>

<script>
    $('#mission').change(function(){
        $.ajax({
            url : "/ajax-project/",
            type:'POST',
            data:{
                mission_id:$(this).val()
            }, 
            dataType: 'json',
            success: function(response) {
            stateOptions = "<option value='' selected>Select</option>";
            $.each(response, function(key, row){
                    stateOptions += '<option value="'+row.id+'">'+row.name+'</option>';
            });
            $('#project').html(stateOptions);
            }
        });
    });
</script>
{% endblock %}

