{% extends "base.html" %}
{% load static %} 
{% block contents %}
{% load dashboard_tags %}

<!--************Chart Script Part*********-->
{% include "dashboard/chart_script.html" %}
<!--**************************************-->
<style>
    .dash_total_row{
        background-color:#b5cbe7!important;
        font-weight: bold!important;
    }
</style>
<br>
 <div class="content-overlay"></div>
   <div class="header-navbar-shadow"></div>
	<div class="content-wrapper">
		<div class="content-body">
			<section id="advanced-search-datatable">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header" style="text-align:center">
								{% if page_slug == 'livelihood-dashboard' %}
                                    <h2 style="color: #4d586c; background-color: #d9d9d9;width: 100%;padding: 10px;">Dashboard Livelihood Draft</h2>
								{% endif %}
                                {% if page_slug == 'wash-dashboard' %}
                                    <h2 style="color: #FFFFFF; background-color: #403394;width: 100%;">WASH Dashboard</h2>
								{% endif %}
							</div>
                     {% include "dashboard/dropdown_filter.html" %}
						</div>
					</div>
				</div>
				<div class="row">
					{% for param,value in chcl_dict.items %}
						<input type="hidden" id="{{param}}" name="{{param}}" value="{{value}}" />
					{% endfor %}
					{% for ct in data_html.chart %}
                {% if ct.chart_type == 'CARDCHART' %}
                
                  <div class="col-md-12 col-lg-12 col-sm-12 col-12 mb-0 pb-0">
                    <div class="card d-flex pb-0 mb-0">
                        {%if ct.chart_title|lower != 'blank' %}
                        <div class="card-body row align-items-center d-flex justify-content-center mb-1 pb-0"><h4 class="d-flex justify-content-center mb-2">{{ct.chart_title}} {% if ct.tooltip %}<i class="fa fa-info-circle"data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="{{ct.tooltip}}" ></i>{% endif %}</h4>
                        {% endif %}
                            <div class="{%if ct.chart_title|lower == 'blank' %} card-body {% endif %}row align-items-center d-flex justify-content-center {{ct.div}} pb-0 mb-0">
                            {% for citem in ct.datas %}
                            <div class="{{ct.bx_div|index:forloop.counter0}}">
                                <div class="card d-flex" style="height:{{ct.chart_height}};background-color:{{ct.bx_bg|index:forloop.counter0}}!important">
                                    <div class="card-body text-center d-flex align-content-end flex-column" style="padding-bottom:10px!important">
                                    <h6 class="{{ct.bx_text|index:forloop.counter0}}" style="font-size:0.9rem;">{{citem.0}}</h6>
                                    <h3 class="{{ct.bx_text|index:forloop.counter0}} mt-auto mx-auto mb-0" style="font-size:1.1rem;">{{citem.1}}</h3>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        {%if ct.chart_title|lower != 'blank' %}
                        </div>
                        {% endif %}
                        <span class="text-info " style="margin-top:-20px!important;display:inline-block; margin-left:20px;text-align:left;">{{ct.chart_note|safe}}</span>
                    </div>
                    </div>
                 </div>
                {% elif ct.chart_type == 'HTMLTABLECHART' or ct.chart_type == 'HTMLTABLECHARTDYNAMIC' %}
                <div class="{{ct.div}}">
                    <br>
                    <br>
                    <div class="card">
                    <div class="card-body">
                    {%if ct.chart_title != 'blank'%}
                                    <h4>{{ct.chart_title}}</h4>
                                {%endif%}
                                <div style="overflow-y: auto; max-height: 500px;">
                        <table style="max-height:{{ct.chart_height}};width: 100%;" id="table_chart_{{ct.chart_slug}}" class="table_chart">
                                <thead style="position: sticky;
                                top: 0;">
                                {% for head in ct.headers %}
                                <tr>
                                    {% for hrow in head %}
                                    <th {%if hrow|get_item:'color' != ""  %} style="text-align:center;word-wrap: break-word;background-color:{{hrow|get_item:'color'}};color:{{hrow|get_item:'text_color'}};"{%endif%}{%if hrow|get_item:'colspan' > 0 %} colspan="{{hrow|get_item:'colspan'}}" {% endif %} {%if hrow|get_item:'rowspan' > 0 %} rowspan="{{hrow|get_item:'rowspan'}}" {% endif %} >
                                        {{hrow|get_item:'label'|safe}}
                                    </th>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                </thead>
                                <tbody>
                                    {%if ct.datas|length == 0 %}
                                    <tr><td colspan="{{ct.headers.0|length}}"> No Data Found</td></tr>
                                    {% else %}
                                        {% for row in ct.datas %}
                                            <tr {% if forloop.counter|divisibleby:2 %}style="background-color: #EEEEEE;" 
                                            {% endif %} class="{%get_row_class row ct.row_css_class ct.url_columns%}">
                                            {% for item in row %}
                                                {% if forloop.counter in ct.url_columns %}
                                                    {% if item.0 == 0 %}
                                                        <td>{{item.0}}</td>
                                                    {% else %}
                                                        <td>
                                                            <a target="{{ct.chart_name}}_{{forloop.counter}}" style="background-color:{{ct.color_codes|get_item:item.0}}!important" href="{{item.1}}">{{item.0}}</a>{{index}}
                                                        </td>
                                                    {% endif %}
                                                {% else %}
                                                    <td style="background-color:{{ct.color_codes|get_item:item}}!important">{{item|default_if_none:"-"|safe }}</td> 
                                                {% endif %}
                                            {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                                </table>
                                </div>
                            </div>
                    </div>
                    </div>
                {% elif ct.chart_type != 'CARDCHART' %}
						<div class="{{ct.div}}" >
							<div class="card">
								<div class="card-body">
									{%if ct.chart_title != 'blank'%}
									<div class="card-title">
										{% comment %} <i class="fa fa-info-circle" data-html="true" data-toggle="tooltip" data-placement="top" title="{{ct.tooltip}}" data-original-title=""></i> {% endcomment %}
										<h4>{{ct.chart_title}} {% if ct.tooltip %}<i class="fa fa-info-circle"data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="{{ct.tooltip}}" ></i>{% endif %}</h4>
									</div>
                           {% endif %}
									<div class="row">
										<div class="col-12">
											<div id="{{ct.chart_name}}" style="width:100%;height:{{ct.chart_height}};"></div>
										</div>
										<span style="display:inline-block; margin-left: 20px;">{{ct.chart_note|safe}}</span>
									</div>
								</div>
							</div>	
						</div>
                  {% endif %}
					{% endfor %}
				</div>
			</section>
		</div>
	</div>
   <style>
      th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #000000;
      }
      th {
        text-align: center;
      }
      .card-header {
       padding: 0.625rem 0rem;
      }
      </style>
      <script>
         // Get all elements with the class "myTable"
         var tables = document.getElementsByClassName("table_chart");
         var pageSlug = "{{ page_slug }}";
         // Loop through each table
         if (pageSlug=='mis-dashbaord'){
         for (var t = 0; t < tables.length; t++) {
             var table = tables[t];
             var cells = table.getElementsByTagName("td");
         
             // Loop through each cell in the table
             for (var i = 0; i < cells.length; i++) {
                 var cell = cells[i];
                 var cellValue = cell.innerHTML.trim(); // Trim whitespace from the cell value
                 var numericValue = parseInt(cellValue); // Parse the integer value
         
                 // Remove '%' character from the numeric value
                 if (cellValue.endsWith('%')) {
                     numericValue = parseInt(cellValue.substring(0, cellValue.length - 1));
                 }

                 if (!isNaN(numericValue)) { // Check if the parsed value is a valid number
                     if (numericValue < 100) {
                         cell.style.backgroundColor = "#90ee90"; // lightgreen color code
                     } else if (numericValue >= 100 && numericValue < 150) {
                         cell.style.backgroundColor = "#add8e6"; // lightblue color code
                     } else {
                         cell.style.backgroundColor = "#f08080"; // lightcoral color code
                     }
                 } else {
                     console.error("Invalid cell value:", cellValue);
                 }
             }
         }
        }
         </script>

{% endblock %}
{% block extra_javascript %}
{% endblock %}

