{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="row align-items-center">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-2" style="display: flex;justify-content: flex-end;">
                                <button class="btn btn-primary" onclick="location.href='/project-add/'" type="button">Add Project</button>
                            </div>                                       
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Name</th>
                                                <th>District</th>
                                                <th>Location</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if object_list %}
                                                {% for project in object_list %}
                                                    <tr>
                                                        <td>{{forloop.counter0|add:object_list.start_index}}</td>
                                                        <td>{{project.name}}</td>
                                                        <td>{{project.district.name}}</td>
                                                        <td>{{project.location}}</td>
                                                        <td><a href="/project-edit/{{project.id}}/">Edit</a></td>
                                                    </tr>
                                                {% endfor %}  
                                            {% else %}
                                                <td colspan="6" class="text-primary">No records found</td>
                                            {% endif %} 
                                            </tbody>
                                    </table><br>
                                    {% if object_list %}
                                    <nav aria-label="...">
                                        {% if object_list.has_other_pages %}
                                        <ul class="pagination justify-content-end ">
                                            {% if object_list.has_previous %}
                                            <li class="paginate_button page-item"><a class="page-link" href="?page={{ 1 }}">First</a></li>
                                            {% comment %} <li class="paginate_button page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">Previous</a></li> {% endcomment %}
                                            {% else %}
                                            <li class="paginate_button page-item disabled"><span class="page-link">First</span></li>
                                                {% comment %} <li class="paginate_button page-item disabled"><span class="page-link">Previous</span></li> {% endcomment %}
                                            {% endif %}
                                            {% for i in display_page_range %}
                                                {% if object_list.number == i %}
                                                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                                {% else %}
                                                <li class="paginate_button paginate_button page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if object_list.has_next %}
                                                {% comment %} <li class="paginate_button page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a></li> {% endcomment %}
                                                <li class="paginate_button page-item"><a class="page-link" href="?page={{ object_list.paginator.num_pages }}">Last</a></li>
                                            {% else %}
                                                {% comment %} <li class="paginate_button page-item disabled"><span class="page-link">Next</span></li> {% endcomment %}
                                                <li class="paginate_button page-item disabled"><span class="page-link">Last</span></li>
                                            {% endif %}
                                            </ul>
                                        {% endif %}
                                    </nav>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row --> 
            </div>
        </div>
    </div>
</div>
{% endblock %}