{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="row align-items-center">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">

                {% if project_obj %}
                    <form method='POST' action="/project-edit/{{id}}/" class="needs-validation" enctype="multipart/form-data" autocomplete="off" novalidate>
                {% else %}
                    <form method='POST' action="/project-add/" class="needs-validation" enctype="multipart/form-data" autocomplete="off" novalidate>
                {% endif %}

                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="name">Mission<span class="text-danger">*</span class="required-field"></label>
                                    <select class="form-control select2" aria-label="Floating label select example" id="partner_mission_mapping" name="partner_mission_mapping" required {% if project_obj.partner_mission_mapping.mission.id %} disabled {% endif %}>
                                        <option value="" selected>Select</option>
                                        {% for mission in mission_obj %}
                                            <option value="{{mission.id}}" {% if mission.mission.id == project_obj.partner_mission_mapping.mission.id %}selected{% endif %}> {{mission.mission.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">Please select a Mission of visited.</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="name">Project Name<span class="text-danger">*</span></label>
                                    <input Type="text" id="name" value="{{project_obj.name}}" name="name" class="form-control" placeholder="Project Name" required/>
                                    <div class="invalid-feedback">Please enter the Project name.</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="district">State<span class="text-danger">*</span></label>
                                    <select class="form-control select2" aria-label="Floating label select example" id="state" name="state" required>
                                        <option value="" selected>Select</option>
                                        {% for state in states %}
                                            <option value="{{state.id}}" {% if state.id == project_obj.district.state.id %}selected{% endif %}>{{state.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">Please select a valid District.</div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="district">District<span class="text-danger">*</span></label>
                                    <select class="form-control select2" aria-label="Floating label select example" id="district" name="district" required>
                                        <option value="" selected>Select</option>
                                        {% for district in districts %}
                                            <option value="{{district.id}}" {% if district.id == project_obj.district.id %}selected{% endif %}>{{district.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">Please select a valid District.</div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="location">Location<span class="text-danger">*</span></label>
                                <input Type="text" id="location" value="{{project_obj.location}}" name="location" class="form-control" placeholder="Location" required>
                                <div class="invalid-feedback">Please enter the Location.</div>	
                                </div>
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="form-group">
                                    <label for="floatingemailInput">Start Date<span class="required-field"></span></label>
                                    <input type="date" class="form-control" name='start_date' value="{{project_obj.start_date|date:'Y-m-d'}}"  id="datefield"
                                        placeholder="Enter the Start Date" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid Start Date.
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
						
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary ml-2"> 
                            {% if project_obj %} Update {% else %} Save {% endif %}
                        </button>
                        <span type="reset" class="btn btn-outline-secondary" onclick="location.href='/project-list/'">Cancel</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var today = new Date();
    var lastDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 0);
    var dd = lastDayOfMonth.getDate();
    var mm = lastDayOfMonth.getMonth()+1; //January is 0!
    var yyyy = lastDayOfMonth.getFullYear();
    if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 
    lastDayOfMonth = yyyy+'-'+mm+'-'+dd;
    document.getElementById("datefield").setAttribute("max", lastDayOfMonth);
</script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {                          
        $('#state').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected  = optionSelected.val();
            $.ajax({
                type:"GET",
                url: '/ajax/state/'+valueSelected+'/',
                success:function(result){
                    $("#district option").remove();
                    a = '<option selected value="">Choose District</option>';
                    $("#district").append(a);
                    if(JSON.parse(result) == 0){
                        $("#district option").remove();
                        a = '<option selected value="">No District is mapped to this fossil AH session category</option>';
                        $("#district").append(a);
                    }
                    else{
                        $.each(JSON.parse(result),function(key, value)
                        {
                            a = '<option value=' + value['id']+'>' + value['name']+'</option>';
                            $("#district").append(a);
                        });
                    }
                }
            });
        });
    });
</script>
{% endblock %}