{% extends 'base.html' %}
{% load static %}
{% block contents %}
<style>
    .btn-check:focus+.btn-primary, .btn-primary:focus {
        background-color: #403A60;
        border-color: #403A60;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method='POST' class="needs-validation repeater" autocomplete="off" enctype="multipart/form-data" id="donor_form">
                    {% csrf_token %}
                    <div class='text-danger'>
                        {{error_message}}
                    </div>
                    <div data-repeater-list="group-a">
                        <div data-repeater-item class="row row2">
                            <div  class="mb-3 col-md-5">
                                <div class="row">
                                    <label for="district" class="col-md-4 col-form-label"><b>Project :</b><span class="required-field"></span></label>
                                    <div class="col-md-8">
                                        <select name="project" id="id_project" class="form-select select2 district"  required>
                                            <option value="" >Select Project</option>
                                                <option value="{{ptr.id}}" selected>{{ ptr }}</option>
                                        </select>
                                    </div> 
                                </div>
                            </div>
                            <div  class="mb-3 col-md-5">
                                <div class="row">
                                    <label for="donor" class="col-md-4 col-form-label"><b>Donor :</b><span class="required-field"></span></label>
                                    <div class="col-md-8">
                                        <select  name='donor' id="donor" class="form-select select2 district donor"  required>
                                            <option value="" selected>Select Donor</option>
                                            {% for donor in user_obj %}
                                                <option value="{{donor.id}}" >{{donor.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="gap-2">
                        <button type="reset" onclick="location.href='/application_master/list/project/'" class="btn btn-secondary waves-effect">
                            Back
                        </button>
                        <button type="submit" id="submitting" style="margin-left: 5px;" class="btn btn-primary w-md">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}



