{% extends 'base.html' %}
{% load static %}
{% block contents %}
<style>
    .btn-check:focus+.btn-primary, .btn-primary:focus {
        background-color: #403A60;
        border-color: #403A60;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method='POST' class="needs-validation repeater" autocomplete="off" enctype="multipart/form-data" id="donor_form" novalidate>
                    {% csrf_token %}
                    <div class='text-danger'>
                        {{error_message}}
                    </div>
                    <div data-repeater-list="group-a">
                        <div class="mb-3 col-md-12">
                            <div class="row">
                                <label for="missions" class="col-md-2 col-form-label"><b>Missions :</b><span class="required-field"></span></label>
                                <div class="col-md-10">
                                    {% for mission in missions %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="missions" id="mission_{{ mission.id }}" value="{{ mission.id }}" >
                                            <label class="form-check-label" for="mission_{{ mission.id }}">
                                                {{ mission.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="gap-2">
                        <button type="reset" onclick="location.href='javascript:history.back()'" class="btn btn-secondary waves-effect">
                            Back
                        </button>
                        <button type="submit" id="submitting" style="margin-left: 5px;" class="btn btn-primary w-md">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    {% for mission in missions %}
    {% if selected_missions %}
    $("#mission_{{mission.id}}").prop('required',false);
    {% else%}
    $("#mission_{{mission.id}}").prop('required',true);
    {% endif %}
    $("#mission_{{mission.id}}").click(function(){
        if($(this).is(":checked")){
            {% for i in missions %}

            $("#mission_{{i.id}}").prop('required',false);
            {% endfor %}
        }
    });
    {% endfor %}
</script>
{% endblock %}



