{% extends 'base.html' %}
{% load static %}

{% block contents %}

<div class="row align-items-center">
    <div class="col-xl-12 mx-auto">
        <div class="card">
            <div class="card-body">
                <form method='POST' class="needs-validation password_form" enctype="multipart/form-data" id='password_form' oninput='password2.setCustomValidity(password2.value != password1.value ? "Passwords do not match." : "")' novalidate>
                    {% csrf_token %}
                    <div class='row'>
                        <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control"  name='password1'  id="password1"
                                    placeholder="Enter Password" required>
                                <label for="floatingemailInput">Enter Password<span class="required-field"></span></label>
                                <div class="invalid-feedback">
                                    Please enter the valid password.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control"  name='password2'  id="password2"
                                    placeholder="Enter Confirm Password" required>
                                <label for="floatingemailInput">Enter Confirm Password<span class="required-field"></span></label>
                                <div class="invalid-feedback">
                                    Please enter the matching password.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="reset" onclick="location.href='/user-profile/{{id}}'" class="btn btn-secondary waves-effect">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary w-md submit">Save</button>
                        
                    </div>
                </form>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
<style>
    .select2-container .select2-selection {
        min-height: 55px
    }
    
    .select2-container .select2-selection--single .select2-selection__placeholder:after {
        content: " *";
        color: red;
    }
</style>
<script>

$('.password_form').on('submit', function() {

         
        if (this.checkValidity() == false) {
            return false;
        }else{
           Swal.fire({
            title: "Are you absolutely sure?",
            
            text: "Please type user name to confirm the reset password.",
            input: 'text',
            showCloseButton: true,
            confirmButtonColor: "#34c38f",
            cancelButtonColor: "#f46a6a",
            confirmButtonText: "Yes, reset it!",
            inputPlaceholder: "{{user.username}}",
            onOpen: () => {
                Swal.disableButtons()
                swal.getInput().addEventListener('keyup', function(e) {
                    if(e.target.value === "{{user.username}}") {
                        Swal.enableButtons();
                    } else {
                        Swal.disableButtons();
                    }
                })
            },
        }).then(function (t) {
            if (t.value) {
                document.getElementById("password_form").submit();
                Swal.fire("Reset!", "User password has changed.", "success")
            }
        })
        return false;

    }
})

</script>

</div>

{% endblock %}
{% block extra_javascript %}
<!-- Sweet Alerts js -->
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
<!-- Sweet alert init js-->
<script src="{% static 'js/pages/sweet-alerts.init.js' %}"></script>
{% endblock %}
